---
import { Image } from 'astro:assets';
import Section from "../ui/Section.astro";
import StarTrekText from "../ui/StarTrekText.astro";
import imageScheme1 from '../../assets/img/convection/scheme1.png';
import imageScheme2 from '../../assets/img/convection/scheme2.png';
import { getLangFromUrl, useTranslations } from '../../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const { backgroundImage, mainImage, class: className } = Astro.props;

---
<Section backgroundImage={backgroundImage} class:list={["section", className]}>
	<div class="layout">
		<ul class="list">
			<li class="list-item">
				<span class="h5 list-item__title">
					<Fragment set:html={t("convection.Обычная<br /> подкладка")} />
				</span>
				<span>
					{t("convection.воздух НЕ проходит")}
				</span>
				<Image
					width="180"
					height="180"
					src={imageScheme1}
					alt=""
					loading="lazy"
				/>
			</li>
			<li class="list-item">
				<span class="h5 list-item__title ">
					<Fragment set:html={t("convection.Капиллярная<br /> мембрана")} />
				</span>
				<span>{t("convection.воздух циркулирует")}</span>
				<Image
					width="180"
					height="180"
					src={imageScheme2}
					alt=""
					loading="lazy"
				/>
			</li>
		</ul>
		<Image
			width="990"
			height="860"
			src={mainImage}
			alt=""
			loading="lazy"
			class="bg-img"
		/>
		<header>
			<StarTrekText as="h2" class="h1 title">{t("convection.Конвекция")}</StarTrekText>
		</header>
		<blockquote class="blockquote">
			<p set:html={t("convection.Капилярная конвекция для максимального<br> комфорта")}></p>
			<p>{t("convection.Проницаемая трехмерная капиллярная мембрана, естественная терморегуляция")}</p>
			<p>{t("convection.Теплорегулирующая подкладка, обеспечивает вентиляцию, предотвращает перегрев")}</p>
		</blockquote>
	</div>
</Section>

<style lang="scss">
	.section {
		//padding: calc(var(--1px) * 80) 0 0;
	}
	.layout {
		float: right;
		margin-top: var(--120px);
	}
	.title {
		margin-top: var(--60px);
		text-align: right;
	}
	.blockquote {
		max-width: calc(var(--1px) * 590);

		//костыль
		margin-bottom: calc(var(--1px) * 75);
	}
	.bg-img {
		position: absolute;
		top: var(--200px);
		right: 46%;
		width: auto;
		height: calc(var(--1px) * 720);
		max-height: 100%;
		z-index: -1;
	}

	.list {
		display: flex;
		justify-content: center;
		gap: var(--90px);
		margin: 0 0 var(--30px);
		padding: 0;
	}
	.list-item {
		padding: 0;
		margin: 0;
		list-style-type: none;
		display: flex;
		flex-direction: column;
	}
	.list-item__title {
		margin: 0 0 var(--15px);
		color: var(--color-product);
	}
	.list-item img {
		margin-top: var(--15px);
		width: calc(var(--1px) * 208);
		height: calc(var(--1px) * 208);
	}
	@media screen and (max-width: 1023px) {
		.layout {
			float: none;
			margin-top: var(--60px);
			display: flex;
			flex-direction: column;
		}
		header {
			order: 0;
		}
		.title {
			margin-top: 0;
			text-align: left;
		}
		.bg-img {
    		position: static;
			width: auto;
			height: auto;
			margin: var(--60px) 0;
			order: 2;
		}
		.list {
			gap: var(--30px);
			margin: 0 0 var(--60px);
			order: 3;
		}
		.list-item {
			text-align: center;
		}
		.list-item img {
			height: auto;
			width: auto;
		}
		.blockquote {
			margin: 0;
			order: 1;
			p:last-child {
				margin-bottom: 0;
			}
		}
	}
</style>