---
import { Image } from 'astro:assets';
import Section from "../ui/Section.astro";
import StarTrekText from "../ui/StarTrekText.astro";
import imageSneaker from '../../assets/img/convection/sneaker.svg?raw';
import imageScheme1 from '../../assets/img/convection/scheme1.png';
import imageScheme2 from '../../assets/img/convection/scheme2.png';

const { backgroundImage, mainImage } = Astro.props;

---
<Section backgroundImage={backgroundImage} class="section">
	<div class="layout">
		<ul class="list">
			<li class="list-item">
				<span class="h5 list-item__title">
					Обычная<br>
					подкладка
				</span>
				<span>воздух НЕ&nbsp;проходит</span>
				<Image
					width="180"
					height="180"
					src={imageScheme1}
					alt=""
					loading="lazy"
				/>
			</li>
			<li class="list-item">
				<span class="h5 list-item__title ">
					Капиллярная<br>
					мембрана
				</span>
				<span>воздух циркулирует</span>
				<Image
					width="180"
					height="180"
					src={imageScheme2}
					alt=""
					loading="lazy"
				/>
			</li>
		</ul>
		<Image
			width="990"
			height="860"
			src={mainImage}
			alt=""
			loading="lazy"
			class="bg-img"
		/>
		<header>
			<StarTrekText as="h2" class="h1 title">Конвекция</StarTrekText>
		</header>
		<blockquote class="blockquote">
			<p>Капилярная конвекция для&nbsp;максимального<br> комфорта</p>
			<p>Проницаемая трехмерная капиллярная мембрана, естественная терморегуляция</p>
			<p>Теплорегулирующая подкладка, обеспечивает вентиляцию, предотвращает перегрев</p>
		</blockquote>
	</div>
</Section>

<style lang="scss">
	.section {
		//padding: calc(var(--adaptive-pixel) * 80) 0 0;
	}
	.layout {
		float: right;
		margin-top: var(--size-120);
	}
	.title {
		margin-top: var(--size-60);
		text-align: right;
	}
	.blockquote {
		max-width: calc(var(--adaptive-pixel) * 590);

		//костыль
		margin-bottom: calc(var(--adaptive-pixel) * 75);
	}
	.bg-img {
		position: absolute;
		top: var(--size-60);
		right: 46%;
		width: auto;
		height: calc(var(--adaptive-pixel) * 880);
		max-height: 100%;
		z-index: -1;
	}

	.list {
		display: flex;
		justify-content: center;
		gap: var(--size-90);
		margin: 0 0 var(--size-30);
		padding: 0;
	}
	.list-item {
		padding: 0;
		margin: 0;
		list-style-type: none;
		display: flex;
		flex-direction: column;
	}
	.list-item__title {
		margin: 0 0 var(--size-15);
		color: var(--color-product);
	}
	.list-item img {
		margin-top: var(--size-15);
		width: calc(var(--adaptive-pixel) * 208);
		height: calc(var(--adaptive-pixel) * 208);
	}
	@media screen and (max-width: 1023px) {
		.layout {
			float: none;
			margin-top: var(--size-60);
		}
		.title {
			margin-top: var(--size-45);
			text-align: left;
		}
		.bg-img {
    		position: static;
			width: auto;
			height: auto;
			margin: calc(var(--size-8) * -1) 0 calc(var(--size-15) * -1);
		}
		.list {
			gap: var(--size-30);
			margin: 0 0 var(--size-60);
		}
		.list-item {
			text-align: center;
		}
		.list-item img {
			height: auto;
			width: auto;
		}
	}
</style>