---
import { Image } from 'astro:assets';
import Section from "../ui/Section.astro";
import StarTrekText from "../ui/StarTrekText.astro";
import imageScheme from '../../assets/img/customization/scheme.svg?raw';

const { backgroundImage, mainImage } = Astro.props;

---
<Section backgroundImage={backgroundImage} class="section">
	<div class="layout">
		<div style="color: var(--color-product)" class="scheme">
			<Fragment set:html={imageScheme} />
		</div>
		<div>
			<header>
				<StarTrekText as="h2" class="h1 title">Кастомизация</StarTrekText>
			</header>
			<blockquote class="blockquote">
				<p>Возможность создания уникальной пары кроссовок с&nbsp;индивидуальным цветовым решением и&nbsp;материалом</p>
				<p>Неповторимые кроссовоки, отражают личность<br> владельца, легко адаптируется под&nbsp;стиль одежды</p>
				<p>Твои идеи для&nbsp;твоей индивидуальности через выбор цвета и&nbsp;материала обуви</p>
			</blockquote>
		
			<Image
				width="1378"
				height="1080"
				src={mainImage}
				alt=""
				loading="lazy"
				class="bg-img"
			/>
		</div>
	</div>
</Section>

<style lang="scss">
	.section {
		// padding: calc(var(--adaptive-pixel) * 65);
	}
	.layout {
		display: flex;
		gap: calc(var(--adaptive-pixel) * 180);
	}
	.title {
		// margin-top: 0;
	}
	.blockquote {
		max-width: calc(var(--adaptive-pixel) * 730);
	}
	.bg-img {
		position: absolute;
		top: var(--size-120);
		left: 47%;
		width: auto;
		height: calc(var(--section-height) - var(--size-120));
		max-height: 100%;
		z-index: -1;
	}
	.scheme {
		width: calc(var(--adaptive-pixel) * 203);
		margin-top: var(--size-120);
	}
	
	@media screen and (width < 1024px) {
		.layout {
			gap: 0;
			flex-direction: column-reverse;
		}
		.title {
			margin-top: var(--size-60);
		}
		.bg-img {
			position: static;
			width: auto;
			height: auto;
		}
		.scheme {
			float: none;
			margin: var(--size-30) 0;
			max-width: var(--size-120);
			margin: 0 auto;
		}
	}
</style>