---

---

<article class="article">
  <ol class="list-with-rounded-numbers">
    <li>
      <h5 class="h5">Выездная примерка</h5>
      <p>
        Примерьте любую понравившуюся пару в&nbsp;нескольких размерах там, где
        вам удобно. Это абсолютно бесплатно. На&nbsp;примерку отводится
        15&nbsp;минут. После примерки вы&nbsp;сможете выкупить заказ полностью,
        частично или&nbsp;же отказаться от&nbsp;покупки вовсе.
      </p>
      <p>
        В&nbsp;Москве<br />
        Услуга предоставляется бесплатно в&nbsp;рамках МКАД.<br />
        Для получения услуги, выберите пункт &laquo;Доставка с&nbsp;примеркой (курьером
        домой или в&nbsp;офис)&raquo; при оформлении заказа в&nbsp;корзине.
      </p>
      <ul>
        <li>
          Менеджер свяжется с&nbsp;вами в&nbsp;WhatsApp для согласования
          удобного времени доставки.
        </li>
        <li>
          Понравившийся товар вы&nbsp;сможете оплатить прямо после примерки.
        </li>
        <li>
          Товар, от&nbsp;которого вы&nbsp;откажетесь, курьер вернёт обратно
          к&nbsp;нам на склад.
        </li>
      </ul>
      <p>
        В&nbsp;других регионах РФ<br />
        Услуга предоставляется бесплатно во&nbsp;всех пунктах выдачи заказов СДЭК.<br
        />
        Для получения услуги, выберите пункт &laquo;Оплата после примерки (в&nbsp;СДЭК
        или курьеру)&raquo; при оформлении заказа в&nbsp;корзине.
      </p>
      <ul>
        <li>
          Понравившийся товар вы&nbsp;сможете оплатить прямо на&nbsp;кассе
          пункта СДЭК.
        </li>
        <li>
          Товар, от&nbsp;которого вы&nbsp;откажетесь, СДЭК вернёт обратно
          к&nbsp;нам на&nbsp;склад.
        </li>
      </ul>
      <p>Пожалуйста, будьте аккуратны, примеряя обувь.</p>
    </li>
    <li>
      <h5 class="h5">Доставка</h5>
      <p>
        Мы&nbsp;передаем заказы в&nbsp;курьерские службы по&nbsp;будним дням.
        Если ваш заказ оформлен в&nbsp;пятницу после 14:00, мы&nbsp;отправим его
        в&nbsp;понедельник.
      </p>
      <p>
        Сроки и&nbsp;цена доставки рассчитываются автоматически при оформлении
        заказа и&nbsp;зависят от&nbsp;веса посылки и&nbsp;точного адреса
        получателя. Например, в Нижний Новгород СДЭК доставляет
        за&nbsp;1-2&nbsp;дня, а&nbsp;во&nbsp;Владивосток&nbsp;&mdash;
        за&nbsp;10-13 дней.
      </p>
    </li>
    <li>
      <h5 class="h5">Как обменять или вернуть товар</h5>
      <p>
        Вы&nbsp;можете вернуть неподошедший товар в&nbsp;течение 14&nbsp;дней
        с&nbsp;момента получения заказа. Мы&nbsp;принимаем к&nbsp;возврату
        только неиспользованные вещи с бирками, наклейками и&nbsp;упаковкой.
        Пожалуйста, будьте аккуратны, примеряя вещь.
      </p>
      <p>
        Возврат по&nbsp;желанию покупателяВы можете вернуть товар
        по&nbsp;собственному желанию, если вам, например, не&nbsp;подошел
        размер, цвет, модель и&nbsp;т.п. В этом случае стоимость обратной
        доставки оплачиваете&nbsp;вы.
      </p>
      <p>
        Возврат по&nbsp;вине продавца<br />
        Ошибки со&nbsp;стороны магазина тоже случаются. Если вы&nbsp;получили не&nbsp;то,
        что заказывали, или вещь оказалась с&nbsp;дефектом, стоимость обратной доставки
        Почтой России оплачиваем&nbsp;мы. Деньги вернутся к&nbsp;вам в&nbsp;течение
        5-7 рабочих дней с&nbsp;того момента, как мы&nbsp;получим вашу посылку с&nbsp;возвратом
        в&nbsp;Москве.
      </p>
    </li>
    <li>
      <h5 class="h5">Процедура возврата</h5>
      <p>
        Если вы&nbsp;обнаружили в&nbsp;своем заказе изделие
        с&nbsp;производственным браком или содержание заказа отличается
        от&nbsp;заявленного, то&nbsp;алгоритм действий следующий:
      </p>
      <ol>
        <li>
          Свяжитесь с&nbsp;нами по&nbsp;электронной почте <a
            href="mailto:hi@hoverover.ru"
            target="_blank">hi@hoverover.ru</a
          ><br />
          Для объективной оценки приложите фотографии изделий с&nbsp;нескольких ракурсов,
          с&nbsp;помощью которых можно будет сделать вывод о&nbsp;том, что изделие
          обладает производственным браком или отличается от&nbsp;заявленного.
        </li>
        <li>
          После того, как наш менеджер ответит вам, распечатайте
          и&nbsp;заполните заявление на&nbsp;возврат. Образец заявления вам
          отправит менеджер.
        </li>
        <li>
          Приложите к&nbsp;товару заявление на&nbsp;возврат и&nbsp;распечатайте
          транспортную накладную, которую мы&nbsp;вам отправим. Упакуйте
          заявление, накладную и изделие в&nbsp;пакет или коробку.
        </li>
        <li>
          Передайте заказ курьеру транспортной компании СДЭК или отнесете его в
          пункт приема и&nbsp;выдачи посылок. Для передачи возврата у&nbsp;вас
          есть 14 календарных дней.
        </li>
        <li>
          Курьерская компания доставит возврат на&nbsp;склад за&nbsp;1&minus;5
          рабочих дней по РФ.
        </li>
        <li>
          После получения изделия, проведения экспертизы и&nbsp;одобрения
          возврата мы перечислим денежные средства на&nbsp;карту или банковский
          счет в&nbsp;срок до&nbsp;7 рабочих дней. Возврат денежных средств
          осуществляется исключительно тем способом
          и&nbsp;на&nbsp;те&nbsp;реквизиты, с&nbsp;которых был оформлен заказ.
        </li>
        <li>
          Обращаем ваше внимание, что возврат денежных средств зависит от
          скорости обработки операции вашим Банком и&nbsp;может достигать 30
          банковских дней.
        </li>
        <li>
          Обмен или возврат товара ненадлежащего качества&nbsp;&mdash;
          бесплатный.
        </li>
      </ol>
    </li>
  </ol>
</article>

<script></script>

<style lang="scss">
  .article {
    background-color: var(--color-bg-black);
    border-left: var(--2px) solid var(--color-product);
    padding: var(--30px) var(--30px) var(--60px);
    margin-bottom: var(--45px);
    font-size: var(--small-font-size);
  }

  .list-with-rounded-numbers {
    counter-reset: my-awesome-counter;
    list-style: none;
    padding-left: 0;
    margin: 0;

    & > li {
      counter-increment: my-awesome-counter;
      margin: 0 0 var(--30px);
    }

    & h5 {
      display: flex;
      align-items: center;
      margin: 0 0 var(--30px);
      font-size: var(--text-font-size);
      font-weight: 600;

      &::before {
        content: counter(my-awesome-counter);
        flex-shrink: 0;
        color: var(--text-light-grey);
        border: var(--2px) solid currentColor;
        font-size: var(--heading-4);
        display: flex;
        align-items: center;
        justify-content: center;
        width: var(--60px);
        height: var(--60px);
        border-radius: var(--60px);
        margin-right: var(--15px);
      }
    }

    & ul,
    & ol,
    & p {
      margin-bottom: var(--30px);
    }
  }

  @media screen and (max-width: 1023px) {
    .article {
      padding: var(--30px) var(--15px) var(--30px);
      margin-bottom: var(--30px);
    }
    .list-with-rounded-numbers {
      h5::before {
        font-size: var(--heading-5);
        width: var(--30px);
        height: var(--30px);
      }
    }
  }
</style>
