---

---

<article class="article">
  <ol class="list-with-rounded-numbers">
    <li>
      <h5 class="h5">Выездная примерка</h5>
      <p>
        Примерьте любую понравившуюся пару в нескольких размерах там, где вам
        удобно. Это абсолютно бесплатно. На примерку отводится 15 минут. После
        примерки вы сможете выкупить заказ полностью, частично или же отказаться
        от покупки вовсе.
      </p>
      <p>
        В Москве<br />
        Услуга предоставляется бесплатно в рамках МКАД.<br />
        Для получения услуги, выберите пункт "Доставка с примеркой (курьером домой
        или в офис)" при оформлении заказа в корзине.
      </p>
      <ul>
        <li>
          Менеджер свяжется с вами в WhatsApp для согласования удобного времени
          доставки.
        </li>
        <li>Понравившийся товар вы сможете оплатить прямо после примерки.</li>
        <li>
          Товар, от которого вы откажетесь, курьер вернёт обратно к нам на
          склад.
        </li>
      </ul>
      <p>
        В других регионах РФ<br />
        Услуга предоставляется бесплатно во всех пунктах выдачи заказов СДЭК.<br
        />
        Для получения услуги, выберите пункт "Оплата после примерки (в СДЭК или курьеру)"
        при оформлении заказа в корзине.
      </p>
      <ul>
        <li>
          Понравившийся товар вы сможете оплатить прямо на кассе пункта СДЭК.
        </li>
        <li>
          Товар, от которого вы откажетесь, СДЭК вернёт обратно к нам на склад.
        </li>
      </ul>
      <p>Пожалуйста, будьте аккуратны, примеряя обувь.</p>
    </li>
    <li>
      <h5 class="h5">Доставка</h5>
      <p>
        Мы передаем заказы в курьерские службы по будним дням. Если ваш заказ
        оформлен в пятницу после 14:00, мы отправим его в понедельник.
      </p>
      <p>
        Сроки и цена доставки рассчитываются автоматически при оформлении заказа
        и зависят от веса посылки и точного адреса получателя. Например, в
        Нижний Новгород СДЭК доставляет за 1-2 дня, а во Владивосток — за 10-13
        дней.
      </p>
    </li>
    <li>
      <h5 class="h5">Как обменять или вернуть товар</h5>
      <p>
        Вы можете вернуть неподошедший товар в течение 14 дней с момента
        получения заказа. Мы принимаем к возврату только неиспользованные вещи с
        бирками, наклейками и упаковкой. Пожалуйста, будьте аккуратны, примеряя
        вещь.
      </p>
      <p>
        Возврат по желанию покупателяВы можете вернуть товар по собственному
        желанию, если вам, например, не подошел размер, цвет, модель и т.п. В
        этом случае стоимость обратной доставки оплачиваете вы.
      </p>
      <p>
        Возврат по вине продавца<br />
        Ошибки со стороны магазина тоже случаются. Если вы получили не то, что заказывали,
        или вещь оказалась с дефектом, стоимость обратной доставки Почтой России
        оплачиваем мы. Деньги вернутся к вам в течение 5-7 рабочих дней с того момента,
        как мы получим вашу посылку с возвратом в Москве.
      </p>
    </li>
    <li>
      <h5 class="h5">Процедура возврата</h5>
      <p>
        Если вы обнаружили в своем заказе изделие с производственным браком или
        содержание заказа отличается от заявленного, то алгоритм действий
        следующий:
      </p>
      <ol>
        <li>
          Свяжитесь с нами по электронной почте <a
            href="mailto:hi@hoverover.ru"
            target="_blank">hi@hoverover.ru</a
          ><br />
          Для объективной оценки приложите фотографии изделий с нескольких ракурсов,
          с помощью которых можно будет сделать вывод о том, что изделие обладает
          производственным браком или отличается от заявленного.
        </li>
        <li>
          После того, как наш менеджер ответит вам, распечатайте и заполните
          заявление на возврат. Образец заявления вам отправит менеджер.
        </li>
        <li>
          Приложите к товару заявление на возврат и распечатайте транспортную
          накладную, которую мы вам отправим. Упакуйте заявление, накладную и
          изделие в пакет или коробку.
        </li>
        <li>
          Передайте заказ курьеру транспортной компании СДЭК или отнесете его в
          пункт приема и выдачи посылок. Для передачи возврата у вас есть 14
          календарных дней.
        </li>
        <li>
          Курьерская компания доставит возврат на склад за 1−5 рабочих дней по
          РФ.
        </li>
        <li>
          После получения изделия, проведения экспертизы и одобрения возврата мы
          перечислим денежные средства на карту или банковский счет в срок до 7
          рабочих дней. Возврат денежных средств осуществляется исключительно
          тем способом и на те реквизиты, с которых был оформлен заказ.
        </li>
        <li>
          Обращаем ваше внимание, что возврат денежных средств зависит от
          скорости обработки операции вашим Банком и может достигать 30
          банковских дней.
        </li>
        <li>Обмен или возврат товара ненадлежащего качества — бесплатный.</li>
      </ol>
    </li>
  </ol>
</article>

<script></script>

<style lang="scss">
    .article {
        background-color: var(--color-bg-black);
        border-left: calc(var(--1px) * 2) solid var(--color-product);
        padding: var(--30px) var(--30px) var(--60px);
        margin-bottom: var(--45px);
    }
    
    .list-with-rounded-numbers {
        counter-reset: my-awesome-counter;
        list-style: none;
        padding-left: 0;
        margin: 0;

        & > li {
            counter-increment: my-awesome-counter;
            margin: 0 0 var(--30px);

            h5 {
                display: flex;
                align-items: center;
                margin: 0 0 var(--30px);

                &::before {
                    content: counter(my-awesome-counter);
                    font-size: 1.5rem;
                    color: var(--text-light-grey);
                    border: calc(var(--1px) * 2) solid currentColor;
                    font-size: var(--heading-4);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: var(--60px);
                    height: var(--60px);
                    border-radius: var(--60px);
                    margin-right: var(--15px);
                }
            }
        }

        & ul,
        & ol,
        & p {
            margin-bottom: var(--30px);
        }
    }

</style>
