---
import Section from "../ui/Section.astro";
import StarTrekText from "../ui/StarTrekText.astro";

---
<Section class="section">
	<StarTrekText as="h2" class="h1 title" id="form-title">
		ЧАСТО ЗАДАВАЕМЫЕ ВОПРОСЫ
	</StarTrekText>
	
	<div class="faq">
		<details class="faq__item" open>
			<summary class="faq__summary">
				Из&nbsp;каких материалов изготовлены кроссовки Primego?
			</summary>
			<p class="faq__text">
				Верх сшит из&nbsp;натуральной кожа премиального качества. Для подкладки
				использован нанотекстиль на&nbsp;основе хлопка с&nbsp;антибактеральными
				и&nbsp;гидрофобными свойствами. Межподклад сделан
				из&nbsp;ретикулирвоанной мембраны сквозной проницаемости. Основные швы
				выполнены двойным швом. Подошвы выполнены из&nbsp;ЭВА, для модели
				Империум используется итальянская подошва Vibram.
			</p>
		</details>
		<details class="faq__item">
			<summary class="faq__summary">
				Где я&nbsp;могу посмотреть товар, есть&nbsp;ли офлайн магазин?
			</summary>
			<p class="faq__text">
				Концепция нашего бренда в&nbsp;развитии онлайн торговли. У&nbsp;нас есть
				бесплатная курьерская доставка. Вы&nbsp;можете выбрать интересующую вас
				модель и&nbsp;размер, примерить, оценить высочайшее качество
				и&nbsp;после этого оплатить. Если не&nbsp;подойдет, плата
				за&nbsp;доставку не&nbsp;взымается.
			</p>
		</details>
		<details class="faq__item">
			<summary class="faq__summary"> Гарантийный срок? </summary>
			<p class="faq__text">
				Условия возврата и&nbsp;гарантийный срок:
			</p>
			<p class="faq__text">
				Возврат Товара надлежащего качества. При условии доставки Товара курьером
				по&nbsp;адресу, указанному покупателем, или на&nbsp;пункты выдачи товара,
				покупатель вправе отказаться от&nbsp;Товара в&nbsp;любое время до&nbsp;его
				передачи и&nbsp;в&nbsp;течение&nbsp;7 (семи) дней после покупки Товара.<br
				/>
			</p>
			<p class="faq__text">
				Возврат товара ненадлежащего качества. В&nbsp;случае, если покупателю передается
				товар с&nbsp;нарушением качества, покупатель может не&nbsp;позднее&nbsp;30
				(тридцати) дней после получения товара известить продавца об&nbsp;этих нарушениях.
			</p>
		</details>
		<details class="faq__item">
			<summary class="faq__summary"> Где сделаны кроссовки Primego? </summary>
			<p class="faq__text">
				Все наши кроссовки разработаны и&nbsp;произведены в&nbsp;России.
			</p>
		</details>
  	</div>
</Section>

<style lang="scss">
	.section {
		padding: var(--90px) 0 var(--90px);
		min-height: auto;
	}
	.title {
		text-align: center;
		font-size: calc(var(--1px) * 80);
		line-height: 1.1;
		margin: var(--45px) 0 var(--60px);
	}

	.faq {
		max-width: calc(var(--1px) * 1000);
		margin: 0 auto;
	}
	.faq__item {
		background-color: var(--color-bg-disabled);
		border-radius: var(--4px);
		color: var(--color-gray);
		margin-top: var(--15px);       
		padding: var(--30px) var(--90px) var(--30px) var(--30px);
		border-left: calc(var(--1px) * 2) solid var(--color-product);
	}

	.faq__summary {
		display: block;
		font-size: var(--heading-5);
		font-weight: 600;
		color: var(--text-color);
		cursor: pointer;
		width: 100%;
		border: none;
		position: relative; 
	
		&::after {
			content: '';
			position: absolute;
			top: 50%;
			transform: translate(0, -50%);
			left: 100%;    
			display: flex;
			align-items: center;
			justify-content: center;
			width: var(--45px);
			height: var(--45px);    
			background-color: var(--color-bg-black);
			background-image: url('data:image/svg+xml,<svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.5 19.5L22.5 25.5L28.5 19.5" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
			background-position: center;
			background-size: contain;
			border-radius: var(--4px);
			
		}

		&::-webkit-details-marker,
		&::marker {
			display: none;
		}
	}

	.faq__text {
		margin-top: var(--15px);
		margin-bottom: var(--15px);

		& *:last-child {
			margin-bottom: 0 !important;
		}                
	}

	// OPEN
	.faq__item[open] {
		.faq__summary::after {
			background-image: url('data:image/svg+xml,<svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M28.5 25.5L22.5 19.5L16.5 25.5" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
		}
	}

	@media screen and (max-width: 1023px) {
		.section {
			padding: var(--60px) 0 var(--30px);
		}
		
		.title {
			font-size: var(--heading-1);
			line-height: .75;
			margin: 0 0 var(--30px);
		}

		.faq__item {   
			padding: var(--15px) var(--30px);
			font-size: var(--extra-small-font-size);
		}

		.faq__summary {
			font-size: var(--small-font-size);

			&::after {
				content: none;
			}
		}
	}
</style>