---
import { Image } from 'astro:assets';
import Section from "../ui/Section.astro";
import StarTrekText from "../ui/StarTrekText.astro";
import imageSneaker from '../../assets/img/foot-shape/Sneaker.png';
import imageScheme from '../../assets/img/foot-shape/scheme.svg?raw';

const { backgroundImage } = Astro.props;

---
<Section backgroundImage={backgroundImage}>
	<div class="layout">
		<header>
			<StarTrekText as="h2" class="h1 title">
				Форма<br/>
				стопы
			</StarTrekText>
		</header>
		<blockquote class="blockquote">
			<p>Трехмерное термическое формование, учет индвидуальной формы стопы</p>
			<p>Подошва учитывает форму стопы, не&nbsp;деформирует ногу</p>
			<p>Адаптация подошвы к&nbsp;стопе для&nbsp;здоровых ног</p>
		</blockquote>
		<Image
			width="1030"
			height="596"
			src={imageSneaker}
			alt=""
			loading="lazy"
			class="bg-img"
		/>
		<div set:html={imageScheme} style="color: var(--color-product)" class="scheme"/>
	</div>
</Section>

<style lang="scss">
	.section {
		padding: 0;
	}
	.layout {
		// padding-left: calc(var(--adaptive-pixel) * 150)
	}
	.title {
		display: flex;
		text-align: right;
	}
	.blockquote {
		max-width: calc(var(--adaptive-pixel) * 500);
	}
	.bg-img {
		height: calc(var(--adaptive-pixel)* 900);
		max-height: 100%;
		position: absolute;
		left: 41%;
		top: var(--size-30);
		width: auto;
		z-index: -1;
	}
	.scheme {
		width: calc(var(--adaptive-pixel) * 446);
		margin-top: calc(var(--adaptive-pixel)* -280);
		float: right;
	}
</style>