---
import { Image } from 'astro:assets';
import Section from "../ui/Section.astro";
import StarTrekText from "../ui/StarTrekText.astro";
import imageScheme1 from '../../assets/img/foot-shape/scheme1.svg';
import imageScheme2 from '../../assets/img/foot-shape/scheme2.svg';
import imageScheme3 from '../../assets/img/foot-shape/scheme3.svg';
import { getLangFromUrl, useTranslations } from '../../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const { backgroundImage } = Astro.props;

---
<Section backgroundImage={backgroundImage}>
	<div class="layout">
		<header>
			<StarTrekText as="h2" class="h1 title">
				{t("footshape.Форма стопы")}
			</StarTrekText>
		</header>
		<ul class="list">
			<li class="list-item">
				<Image
					width="362"
					height="362"
					src={imageScheme1}
					alt=""
					loading="lazy"
				/>
				<span class="list-item__title">
					<Fragment set:html={t("footshape.Типичная<br /> форма обуви")} />
				</span>
				<span class="list-item__desc">
					{t("footshape.Нога в дискомфорте")}
				</span>
			</li>
			<li class="list-item">
				<Image
					width="362"
					height="362"
					src={imageScheme2}
					alt=""
					loading="lazy"
				/>
				<span class="list-item__title">
					<Fragment set:html={t("footshape.Оригинальная форма Primego,<br /> модель Империум")} />
				</span>
				<span class="list-item__desc">{t("footshape.Широкая нога")}</span>
			</li>
			<li class="list-item">
				<Image
					width="362"
					height="362"
					src={imageScheme3}
					alt=""
					loading="lazy"
				/>
				<span class="list-item__title">
					<Fragment set:html={t("footshape.Оригинальная форма Primego,<br /> модель Рояль")} />
				</span>
				<span class="list-item__desc">{t("footshape.Стандартная нога")}</span>
			</li>
		</ul>
	</div>
</Section>

<style lang="scss">
	.section {
		padding: 0;
	}
	.layout {
		// padding-left: calc(var(--1px) * 150)
	}
	.title {
		text-align: center;
		margin: var(--120px) 0;
	}

	.list {
		display: flex;
		gap: var(--30px);
		margin: var(--120px) 0 0;
		padding: 0;
		justify-content: space-between;
	}
	.list-item {
		padding: 0;
		margin: 0;
		text-align: center;
		list-style-type: none;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.list-item__title {
		display: block;
		color: var(--color-product);
		font-size: var(--heading-4);
		font-weight: 600;
		margin-bottom: var(--15px);
	}
	.list-item__desc {
		display: block;
		font-size: var(--text-font-size);
	}
	.list-item img {
		width: calc(var(--1px) * 362);
		height: calc(var(--1px) * 362);
		margin-bottom: var(--45px);
	}

	@media screen and (max-width: 1023px) {
		.section {
			order: -1;
			position: relative;
			&::before {
				content: '';
				position: absolute;
				top: 30%;
				height: 40vw;
				width: 100vw;
				color: rgba(252, 20, 71, 0.37);
				background-color: currentColor;
				box-shadow: 0 0 var(--120px) var(--120px) currentColor;
				border-radius: 100%;
				filter: blur(var(--60px));
				z-index: -1;
			}
		}
		.title {
			// --text-product: var(--color-white);
			margin: var(--60px) 0;
		}
		.list {
			// --color-product: var(--color-white);
			margin: 0 0 var(--30px);
			flex-direction: column;
		}
		.list-item {
			margin-bottom: var(--15px);
		}
		.list-item img {
			width: calc(var(--1px) * 128);
			height: calc(var(--1px) * 128);
			margin-bottom: var(--15px);
			filter: drop-shadow(0px 1px 0px var(--color-bg-black));
			border: var(--1px) solid white;
  			border-radius: 100%;
		}
		.list-item__title {
			font-size: var(--text-font-size);
		}
	}
</style>