---
import Section from "../ui/Section.astro";
import StarTrekText from "../ui/StarTrekText.astro";
import Button from "../ui/Button.astro";
import BackButton from "../ui/BackButton.astro";
import { Image } from 'astro:assets';
import imageRoyalSneakers from  "/src/assets/img/hero-slider/single-royal.png";
import BackgroundText from "../ui/BackgroundText.astro";

const { backgroundImage } = Astro.props;
---

<Section backgroundImage={backgroundImage}>
	<BackgroundText>Primego</BackgroundText>
	<div class="hero-layout">
		<div class="hero">
			<BackButton href="./../"></BackButton>
			<StarTrekText as="h1" class="page-title">Рояль</StarTrekText>
			<div>
				<p class="lead">Твой элегантный стиль</p>
				<p>
					Эти кроссовки сочетают в&nbsp;себе изысканный дизайн с&nbsp;выдающейся комфортностью, 
					обеспечивая вам непревзойденный опыт носки.
				</p>
				<p>
					<span class="h3 price">27&thinsp;700&thinsp;₽</span>
				</p>
				<Button as="button" onclick="alert('disabled')">
					Купить сейчас
				</Button>
			</div>
		</div>
		<div class="hero__image">
			<div>
				<Image src={imageRoyalSneakers} alt="" role="presentation"/>
			</div>
		</div>
	</div>
</Section>

<style lang="scss">
	.page-title {
		margin-bottom: var(--size-90);
		font-size: var(--heading-1);
	}
	.hero-layout {
		display: flex;
		margin-bottom: calc(var(--adaptive-pixel) * 150);
	}
	.hero {
		min-width: 40%;
	}
	.hero__image {
		margin-bottom: calc(var(--adaptive-pixel) * 120 * -1);
    	align-self: flex-end;
	}
	.price {
		color: var(--text-color);
	}

	@media screen and (width < 1024px) {
		.hero {
			min-width: auto;
			text-align: center;
		}
		.hero-layout {
			margin-bottom: calc(var(--adaptive-pixel) * 60);
			flex-direction: column;
		}
		.page-title {
			font-size: calc(var(--adaptive-pixel) * 128);
			margin-top: calc(var(--adaptive-pixel) * 36);
			margin-bottom: var(--size-30);
		}
		.hero__image {
			margin: var(--size-30) 0 0;
		}
	}
</style>
