---
import Section from "../ui/Section.astro";
import StarTrekText from "../ui/StarTrekText.astro";
import BuyButton from "../ui/BuyButton.astro";
import BackButton from "../ui/BackButton.astro";
import { Image } from 'astro:assets';
import imageSneakers from  "/src/assets/img/hero-slider/single-royal.png";
import BackgroundText from "../ui/BackgroundText.astro";

const { backgroundImage } = Astro.props;
---

<Section backgroundImage={backgroundImage}>
	<BackgroundText>Primego</BackgroundText>
	<div class="hero">
		<BackButton href="./../"></BackButton>
		<StarTrekText as="h1" class="page-title">Рояль</StarTrekText>
		<div>
			<p class="lead">Твой элегантный стиль</p>
			<p>
				Эти кроссовки сочетают в&nbsp;себе изысканный дизайн с&nbsp;выдающейся комфортностью, 
				обеспечивая вам непревзойденный опыт носки.
			</p>
			<p class="display-mobile-none price">
				<span class="h3">27&thinsp;700&thinsp;₽</span>
			</p>
			<Image src={imageSneakers} alt="" role="presentation" class="hero__image" loading="lazy" />
			<BuyButton 
				name="Рояль"
				type="Лимитированная коллекция"
				sku="1224sfs" 
				price="27700" 
				color="var(--color-product-royal)"
				img={imageSneakers.src}
			>
				<span class="display-none display-mobile-block">Купить от 27&thinsp;700&thinsp;₽</span>
				<span class="display-mobile-none">Купить сейчас</span>
			</BuyButton>
		</div>
	</div>
</Section>

<style lang="scss">
	.page-title {
		margin-bottom: var(--90px);
		font-size: var(--heading-1);
	}
	.hero {
		max-width: calc(var(--1px) * 720);
		margin-bottom: calc(var(--1px) * 150);
	}
	.hero__image {
		bottom: calc(var(--1px)* 270);
		position: absolute;
		width: calc(var(--1px)* 785);
		left: 50%;
	}
	.price {
		color: var(--text-color);
		margin-bottom: var(--45px);
	}

	@media screen and (max-width: 1023px) {
		.hero {
			text-align: center;
			margin-bottom: calc(var(--1px) * 60);
		}
		.page-title {
			font-size: calc(var(--1px) * 128);
			margin-top: calc(var(--1px) * 36);
			margin-bottom: var(--30px);
		}
		.hero__image {
			position: static;
			margin-bottom: calc(var(--1px) * 30);
		}
	}
</style>
