---
import Section from "../ui/Section.astro";
import StarTrekText from "../ui/StarTrekText.astro";
import Button from "../ui/Button.astro";
import { Image } from 'astro:assets';
import imageEmpireSneakers from "/src/assets/img/hero-slider/single-empire.png";

const { backgroundImage } = Astro.props;
---

<Section backgroundImage={backgroundImage}>
	<div class="hero-layout">
		<div class="hero">
			<StarTrekText as="span" class="text-on-background" aria-hidden="true">
				Primego
			</StarTrekText>
			<a href="/" aria-label="На главную" class="back-button">
				<svg width="122" height="34" viewBox="0 0 122 34" fill="none" xmlns="http://www.w3.org/2000/svg"
					style="color: var(--color-product)">
					<path d="M0.93934 18.2447C0.353553 17.659 0.353553 16.7092 0.93934 16.1234L10.4853 6.57748C11.0711 5.99169 12.0208 5.99169 12.6066 6.57748C13.1924 7.16327 13.1924 8.11301 12.6066 8.6988L4.12132 17.1841L12.6066 25.6694C13.1924 26.2552 13.1924 27.2049 12.6066 27.7907C12.0208 28.3765 11.0711 28.3765 10.4853 27.7907L0.93934 18.2447ZM35.2699 18.6841L2 18.6841L2 15.6841L35.2699 15.6841L35.2699 18.6841Z" 
					fill="currentColor"/>
					<rect x="48.27" y="0.684082" width="73" height="33" rx="4" fill="#25282B"/>
					<path d="M65.4997 21.6841V11.8141H66.6477V16.1821H72.5697V11.8141H73.7177V21.6841H72.5697V17.1761H66.6477V21.6841H65.4997ZM78.2081 21.8101C77.7415 21.8101 77.3215 21.7214 76.9481 21.5441C76.5841 21.3574 76.2948 21.1054 76.0801 20.7881C75.8655 20.4707 75.7581 20.1161 75.7581 19.7241C75.7581 19.2294 75.8841 18.8374 76.1361 18.5481C76.3975 18.2587 76.8221 18.0534 77.4101 17.9321C78.0075 17.8014 78.8195 17.7361 79.8461 17.7361H80.2941V17.3021C80.2941 16.7234 80.1728 16.3081 79.9301 16.0561C79.6968 15.7947 79.3188 15.6641 78.7961 15.6641C78.3855 15.6641 77.9888 15.7247 77.6061 15.8461C77.2235 15.9581 76.8315 16.1447 76.4301 16.4061L76.0381 15.5801C76.3928 15.3281 76.8221 15.1274 77.3261 14.9781C77.8395 14.8287 78.3295 14.7541 78.7961 14.7541C79.6735 14.7541 80.3221 14.9687 80.7421 15.3981C81.1715 15.8274 81.3861 16.4947 81.3861 17.4001V21.6841H80.3221V20.5081C80.1448 20.9094 79.8695 21.2267 79.4961 21.4601C79.1321 21.6934 78.7028 21.8101 78.2081 21.8101ZM78.3901 20.9561C78.9501 20.9561 79.4075 20.7647 79.7621 20.3821C80.1168 19.9901 80.2941 19.4954 80.2941 18.8981V18.4781H79.8601C79.1041 18.4781 78.5068 18.5154 78.0681 18.5901C77.6388 18.6554 77.3355 18.7767 77.1581 18.9541C76.9901 19.1221 76.9061 19.3554 76.9061 19.6541C76.9061 20.0367 77.0368 20.3494 77.2981 20.5921C77.5688 20.8347 77.9328 20.9561 78.3901 20.9561ZM85.853 21.8101C85.265 21.8101 84.7097 21.7354 84.187 21.5861C83.6737 21.4274 83.2583 21.2081 82.941 20.9281L83.305 20.1301C83.6317 20.3914 84.0143 20.5921 84.453 20.7321C84.8917 20.8627 85.349 20.9281 85.825 20.9281C86.497 20.9281 86.9777 20.8301 87.267 20.6341C87.5657 20.4381 87.715 20.1487 87.715 19.7661C87.715 19.0287 87.2437 18.6601 86.301 18.6601H84.691V17.8061H86.161C86.5623 17.8061 86.8797 17.7127 87.113 17.5261C87.3557 17.3394 87.477 17.0781 87.477 16.7421C87.477 16.4061 87.3463 16.1401 87.085 15.9441C86.8237 15.7387 86.4037 15.6361 85.825 15.6361C84.9197 15.6361 84.117 15.8834 83.417 16.3781L83.053 15.5801C83.8183 15.0294 84.789 14.7541 85.965 14.7541C86.833 14.7541 87.4817 14.9221 87.911 15.2581C88.3403 15.5941 88.555 16.0654 88.555 16.6721C88.555 17.0174 88.4523 17.3254 88.247 17.5961C88.051 17.8574 87.7803 18.0487 87.435 18.1701C87.855 18.2727 88.1863 18.4687 88.429 18.7581C88.6717 19.0381 88.793 19.3881 88.793 19.8081C88.793 20.4147 88.5457 20.9001 88.051 21.2641C87.5563 21.6281 86.8237 21.8101 85.853 21.8101ZM92.714 21.8101C92.2473 21.8101 91.8273 21.7214 91.454 21.5441C91.09 21.3574 90.8007 21.1054 90.586 20.7881C90.3713 20.4707 90.264 20.1161 90.264 19.7241C90.264 19.2294 90.39 18.8374 90.642 18.5481C90.9033 18.2587 91.328 18.0534 91.916 17.9321C92.5133 17.8014 93.3253 17.7361 94.352 17.7361H94.8V17.3021C94.8 16.7234 94.6787 16.3081 94.436 16.0561C94.2027 15.7947 93.8247 15.6641 93.302 15.6641C92.8913 15.6641 92.4947 15.7247 92.112 15.8461C91.7293 15.9581 91.3373 16.1447 90.936 16.4061L90.544 15.5801C90.8987 15.3281 91.328 15.1274 91.832 14.9781C92.3453 14.8287 92.8353 14.7541 93.302 14.7541C94.1793 14.7541 94.828 14.9687 95.248 15.3981C95.6773 15.8274 95.892 16.4947 95.892 17.4001V21.6841H94.828V20.5081C94.6507 20.9094 94.3753 21.2267 94.002 21.4601C93.638 21.6934 93.2087 21.8101 92.714 21.8101ZM92.896 20.9561C93.456 20.9561 93.9133 20.7647 94.268 20.3821C94.6227 19.9901 94.8 19.4954 94.8 18.8981V18.4781H94.366C93.61 18.4781 93.0127 18.5154 92.574 18.5901C92.1447 18.6554 91.8413 18.7767 91.664 18.9541C91.496 19.1221 91.412 19.3554 91.412 19.6541C91.412 20.0367 91.5427 20.3494 91.804 20.5921C92.0747 20.8347 92.4387 20.9561 92.896 20.9561ZM97.3629 23.5041V20.7741H98.0769C98.4035 20.2981 98.6369 19.7521 98.7769 19.1361C98.9169 18.5107 98.9869 17.7594 98.9869 16.8821V14.8801H103.803V20.7741H104.881V23.5041H103.901V21.6841H98.3289V23.5041H97.3629ZM99.1689 20.7741H102.725V15.7761H99.9949V17.0781C99.9949 17.7781 99.9249 18.4547 99.7849 19.1081C99.6449 19.7614 99.4395 20.3167 99.1689 20.7741Z" fill="white"/>
				</svg>
			</a>
			<StarTrekText as="h1" class="page-title">ИМПЕРИЯ</StarTrekText>
			<div>
				<p class="lead">Limited Collection</p>
				<p>
					Lorem ipsum dolor sit amet consectetur. Viverra quis eu turpis
					faucibus nec id.
				</p>
				<Button as="a" href="#customizer" class="button_ticket">
					Купить
				</Button>
			</div>
		</div>
		<div class="hero__image">
			<div>
				<Image src={imageEmpireSneakers} alt="" role="presentation"/>
			</div>
		</div>
	</div>
</Section>

<style lang="scss">
	@keyframes slideInFromLeft {
		0% {
			transform: scale(1.1);
			opacity: 0;
		}
	}
	.text-on-background {
		font-size: min(60vw, var(--container-width-in-px) / 100 * 60);
		margin: 0;
		position: absolute;
		top: var(--size-5);
		left: 0;
		width: 100%;
		height: 100vh;
		overflow: hidden;
		display: flex;
		justify-content: center;
		opacity: 0.15;
		z-index: -1;
		user-select: none;
		animation: 2s ease-out 0s 1 slideInFromLeft;
	}
	.back-button {
		margin: calc(var(--adaptive-pixel) * 120) 0 0;
		display: inline-block;
		height: calc(var(--adaptive-pixel) * 38);
		position: relative;
		z-index: 1;
	}
	.back-button + .page-title {
		margin-top: calc(var(--adaptive-pixel) * 30);
	}
	.page-title {
		margin-bottom: calc(var(--adaptive-pixel) * 30);
		font-size: calc(var(--adaptive-pixel) * 440);
	}
	.hero-layout {
		display: flex;
		margin-bottom: calc(var(--adaptive-pixel) * 150);
	}
	.hero {
		min-width: 40%;
	}
	.hero__image {
		margin-bottom: calc(var(--adaptive-pixel) * 120 * -1);
    	align-self: flex-end;
	}
	@media screen and (width < 1024px) {
		.text-on-background {
			font-size: 53vw;
		}
	}
</style>
