---
import Section from "../ui/Section.astro";
import StarTrekText from "../ui/StarTrekText.astro";
import BackgroundText from "../ui/BackgroundText.astro";
import BackButton from "../ui/BackButton.astro";
import Parametrs from "./Parametrs.astro";
import { Image } from "astro:assets";
import imageSneakers from "/src/assets/img/hero-slider/single-empire.png";

const { backgroundImage, sku } = Astro.props;
---

<Section backgroundImage={backgroundImage}>
	<BackgroundText>Primego</BackgroundText>
	<div class="hero__wrap">
		<div class="hero">
			<BackButton href="./../" />
			<StarTrekText as="h1" class="page-title">ИМПЕРИУМ</StarTrekText>
			<div>
				<p class="hero__lead">Герб Российской Империи</p>
				<Image
					src={imageSneakers}
					alt=""
					role="presentation"
					class="hero__image"
					loading="lazy"
				/>
			</div>
		</div>
	</div>

	<Fragment slot="after-footer">
		<Parametrs sku={sku} imageSneakers={imageSneakers}/>
	</Fragment>
</Section>

<style lang="scss">
	.page-title {
		margin-bottom: var(--60px);
		font-size: var(--heading-1);
	}
	.hero__wrap {
		position: relative;
	}
	.hero {
		max-width: calc(var(--1px) * 720);
		margin-bottom: calc(var(--1px) * 180);
	}
	.hero__lead {
		font-size: calc(var(--1px) * 72);
		line-height: 1.05;
		color: var(--color-gray);
		text-transform: uppercase;
	}
	.hero__image {
		top: var(--60px);
		position: absolute;
		width: calc(var(--1px) * 785);
		left: 50%;
	}

	@media screen and (max-width: 1023px) {
		.hero {
			margin-bottom: calc(var(--1px) * 200);
		}
		.page-title {
			font-size: calc(var(--1px) * 128);
			margin-top: calc(var(--1px) * 36);
			margin-bottom: var(--30px);
		}
		.hero__lead {
			font-size: calc(var(--1px) * 36);
			line-height: 1.05;
		}
		.hero__image {
			display: none;
		}
	}
</style>
