---
import StarTrekText from "../ui/StarTrekText.astro";
import { Image } from "astro:assets";
import imgImperial from "/src/assets/img/limit-collection/imperial.png";
import imgRoyal from "/src/assets/img/limit-collection/royal.png";
import Section from "../ui/Section.astro";

---
<Section>
	<div class="limit">
		<div class="limit-header">
			<StarTrekText as="h4" class="limit-header__title" id="nav-title">
				лимитированные коллекции
			</StarTrekText>
			<p>Уникальный стиль под уникальных людей</p>
		</div>
		<nav aria-labeledby="nav-title">
			<ul class="menu">
				<li class="menu__item">
					<a href="empire" class="menu__link card">
						<div class="card__left">
							<StarTrekText title="Империя" class="card__title" as="span" style="color: var(--color-product-empire)">
								ИМПЕРИЯ
							</StarTrekText>
							<span class="subtitle">Непобедимый стиль</span>
							<button class="read-more">Подробнее</button>
						</div>
						<div class="card__right">
							<Image
								src={imgImperial}
								class="splide__slide"
								alt=""
								role="presentation"
								loading="lazy"
								class="card__img"
							/>
							<span class="card__price">27&thinsp;700&thinsp;₽</span>
						</div>
					</a>
				</li>
				<li class="menu__item">
					<a href="royal" class="menu__link card">
						<div class="card__left">
							<StarTrekText title="Рояль" class="card__title" as="span" style="color: var(--color-product-royal)">
								Рояль
							</StarTrekText>
							<span class="subtitle">Уникальный стиль</span>
							<button class="read-more">Подробнее</button>
						</div>
						<div class="card__right">
							<Image
								src={imgRoyal}
								class="splide__slide"
								alt=""
								role="presentation"
								loading="lazy"
								class="card__img"
							/>
							<span class="card__price">27&thinsp;700&thinsp;₽</span>
						</div>
					</a>
				</li>
			</ul>
		</nav>
	</div>
</Section>

<style>
	.section {
		background-color: #0E0205;
		min-height: auto;
	}
	.limit {
		margin-bottom: var(--size-90);
	}
	.limit-header {
		text-align: center;
		margin-top: 0;
	}
	.limit-header__title {
		font-size: calc(var(--adaptive-pixel) * 80);
		margin-top: 0;
	}
	.menu {
		margin: calc(var(--size-30) * -1) 0 0;
		padding: 0;
		display: flex;
		justify-content: space-around;
	}
	.menu__item {
		list-style-type: none;
		padding: 0;
		margin: 0 0 var(--size-90);
		flex-basis: 36%;
	}
	.menu__link {
		text-decoration: none;
		color: var(--text-color);
	}
	.card {
		display: flex;
		justify-content: space-between;
		padding: calc(var(--adaptive-pixel) * 20) 0 calc(var(--adaptive-pixel) * 25) calc(var(--adaptive-pixel) * 50);
		position: relative;
		z-index: 1;
		&:before,
		&:after {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		}
		&::before {
			background: linear-gradient(267.46deg, #8C1630 1.33%, var(--color-black) 97.51%);
			clip-path: polygon(6% 0, 100% 0%, 100% 100%, 0 100%, 0 13%);
			z-index: -1;
		}	
		&::after {
			border-radius: 100%;
			transform: rotate(-13.75deg);
			background: transparent;
			mix-blend-mode: hard-light;
			filter: blur(100px);
			z-index: -2;
			transition: background-color ease .5s;
		}
		&:hover {
			&::after {
				background-color: rgba(252, 20, 71, 0.35);
			}
			.card__title:after {
				opacity: .15;
			}
			.card__img {
				transform: rotate(-4deg) scale(1.1);
			}
		}	
	}
	.card__left {
		font-size: var(--heading-4);
	}
	.card__right {
		color: var(--text-color);
		transform: translate(var(--size-30), var(--size-45));
		margin-bottom: calc(var(--size-45)* -1);
		position: relative;
	}

	.card__img {
		position: absolute;
		bottom: var(--size-90);
		left: calc(var(--size-15) * -1);
		width: calc(var(--adaptive-pixel) * 270);
		max-width: none;
		transition: transform ease .5s;
	}
	.card__title {
		font-size: calc(var(--adaptive-pixel) * 128);
		margin-bottom: calc(var(--adaptive-pixel) * 20);
		display: block;
		&::after {
			content: attr(title);
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			font-size: calc(var(--adaptive-pixel)* 370);
			line-height: 0.55;
			color: var(--color-product);
			clip-path: polygon(6% 0, 100% 0%, 100% 100%, 0 100%, 0 13%);
			opacity: 0;
			z-index: -1;
			pointer-events: none;
			transition: opacity ease .5s;
		}
	}
	.card__title sup {
		top: -0.9em;
	}
	.card__price {
		display: flex;
		align-items: flex-end;
		font-weight: 500;
		font-size: calc(var(--adaptive-pixel) * 32);
		padding: calc(var(--adaptive-pixel) * 25) var(--size-15);
		background-color: var(--color-product);
	
		color: var(--text-color);
		white-space: nowrap;
		min-width: calc(var(--adaptive-pixel) * 190);
		min-height: calc(var(--adaptive-pixel) * 180);
	}

	@media screen and (width < 1024px) {
		.limit {
			margin-bottom: 0;
		}
		.limit-header__title {
			font-size: var(--heading-1);
			line-height: .72;;
		}
		.menu {
			flex-direction: column;
			margin: 0 calc(var(--gutter) * -1);
		}
		.menu__item {
			margin: 0 0 var(--size-60);
			flex-basis: 100%;
		}
		.card {
			padding: calc(var(--adaptive-pixel)* 10) var(--gutter);
		}
		.card__title {
			font-size: calc(var(--adaptive-pixel)* 48);
			margin-bottom: var(--size-15);
		}
		.card__right {
			margin-bottom: 0;
			transform: translate(0, var(--size-30));
		}
		.card__img {
			bottom: var(--size-45);
			left: auto;
			right: calc(var(--adaptive-pixel)* -20);
			width: calc(var(--adaptive-pixel)* 140);
		}
		.card__price {
			font-size: var(--text-font-size);
			font-weight: 600;
			min-height: calc(var(--adaptive-pixel)* 90);
			min-width: calc(var(--adaptive-pixel)* 90);
			padding: var(--size-15) var(--size-8);
			border-radius: var(--size-4);
		}
		.subtitle {
			display: none;
		}
		.read-more {
			background-color: rgba(175,175,175,.13);
			border: none;
			padding: var(--size-8) calc(var(--adaptive-pixel)* 24);
			color: var(--color-product);
			font-weight: 500;
			font-size: var(--small-font-size);
			border-radius: var(--size-4);
		}

	}
</style>