---
import { Image } from 'astro:assets';
import Section from "../ui/Section.astro";
import StarTrekText from "../ui/StarTrekText.astro";
import imagePhone from '../../assets/img/app/Phone.png';
import imageScheme from '../../assets/img/app/Scheme.svg?raw';

const { backgroundImage, invert = false } = Astro.props;
---
<Section backgroundImage={backgroundImage} invert={invert}>
	<header>
		<StarTrekText as="h2" class="h1 title">
			Приложение-<br/>
			сканер
		</StarTrekText>
	</header>
	<Image
		width="917"
		height="1240"
		src={imagePhone}
		alt=""
		loading="lazy"
		class="bg-img"
	/>
	<blockquote class="blockquote">
		<p>Учет индивидуальной формы стопы, улучшает посадку обуви, дарит комфорт</p>
		<p>Алгоритмы искусственного интеллекта, виртуальное моделирование формы стопы</p>
		<p>Компьютерные технологии для&nbsp;идеального результата</p>
	</blockquote>
	<div style="color: var(--color-product)" class="scheme">
		<Fragment set:html={imageScheme} />
	</div>
</Section>

<style lang="scss">
	.section {
		padding: 0;
	}
	.layout {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}
	.title {
		text-align: right;
	}
	.blockquote {
		max-width: calc(var(--1px) * 490);
		margin-left: auto;
	}
	.bg-img {
		position: absolute;
		top: var(--90px);
		right: 60%;
		width: auto;
		height: calc(var(--1px) * 870);
		max-height: 100%;
		z-index: -1;
	}
	.scheme {
		width: calc(var(--1px) * 725);
		margin: calc(var(--200px)* -1) auto 0 var(--200px);
		float: left;
	}

	@media screen and (max-width: 1023px) {
		.title {
			margin-top: var(--45px);
		}
		.bg-img {
			position: static;
			width: auto;
			max-width: 95%;
			height: auto;
			margin: calc(var(--120px) * -1) 0 calc(var(--45px) * -1) calc(var(--120px) * -1);
		}
		.scheme {
			float: none;
			margin: var(--60px) 0 var(--15px);
			width: auto;
		}
	}
</style>