---
import { Image } from 'astro:assets';
import Section from "../ui/Section.astro";
import StarTrekText from "../ui/StarTrekText.astro";

const { backgroundImage, mainImage, invert = false } = Astro.props;

---
<Section backgroundImage={backgroundImage} invert={invert} class="section">
	<header>
		<StarTrekText as="h2" class="h1 title">
			НАНО <br />ТЕКСТИЛЬ
		</StarTrekText>
	</header>
	<Image
		width="1226"
		height="912"
		src={mainImage}
		alt=""
		loading="lazy"
		class="bg-img"
	/>
	<blockquote class="blockquote">
		<p>Гидрофобная структура нити, не&nbsp;задерживает влагу, предотвращая развитие бактерий</p>
		<p>Из&nbsp;натуральных волокон, антибактериальные и&nbsp;гидрофобные свойства, идеально для&nbsp;кроссовок</p>
		<p>Технологичный и&nbsp;инновационный для&nbsp;спортивной обуви</p>
	</blockquote>
</Section>

<style lang="scss">
	.section {
		// padding: calc(var(--1px) * 35) 0 calc(var(--1px) * 150);
	}
	.title {
		display: flex;
    	text-align: right;
		margin-top: var(--90px);
	}
	.blockquote {
		max-width: calc(var(--1px) * 590);
	}
	.bg-img {
		bottom: var(--45px);
		height: calc(var(--1px)* 912);
		left: 33.5%;
		max-height: 100%;
		position: absolute;
		width: auto;
		z-index: -1;
	}
	@media screen and (max-width: 1023px) {
		.title {
			margin-top: var(--45px);
		}

		.bg-img {
    		position: static;
			width: auto;
			height: auto;
			max-width: calc(100% + var(--gutter) + var(--gutter));
			margin: calc(var(--1px) * 75 * -1) calc(var(--gutter) * -1) var(--30px);
		}
	}
</style>