html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background-color: var(--color-black);
}

body {
    font-family: Montserrat, "Montserrat Fallback", system-ui, sans-serif;
    font-size: var(--text-font-size);
    line-height: var(--text-line-height);
    color: var(--text-color);
    background-color: var(--color-black);
}

* {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

[hidden] {
    display: none !important;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    border: 0;
}

img, svg {
    max-width: 100%;
    height: auto;
    flex-shrink: 0;
}


.display-none {
    display: none !important;
}
.display-block {
    display: block !important;
}
.display-flex {
    display: flex !important;
}

// @media screen and (max-width: 1023px) {
//     .display-lg-none {
//         display: none;
//     }
//     .display-lg-block {
//         display: block;
//     }
//     .display-lg-flex {
//         display: flex;
//     }
// }

@media screen and (max-width: 1023px) {
    .display-mobile-none {
        display: none !important;
    }
    .display-mobile-block {
        display: block !important;
    }
    .display-mobile-flex {
        display: flex !important;
    }
}


