/*! Page scroll */

html {
    scroll-behavior: smooth;
}

html,
body {
  scrollbar-gutter: stable;
}


/* :target {
	scroll-margin-top: var(--header-height);
} */

/* Default (light) theme */
:root {
	--scrollbar-track: rgba(255,255,255,0.1);
	--scrollbar-thumb: rgba(255,255,255,0.1);
	--scrollbar-thumb-hover: rgba(255,255,255,0.2);

	--scrollbar-width: 12px;
}
/* Firefox */
* {
	scrollbar-width: thick;
	scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
}

/* Chrome, Edge, Safari */
*::-webkit-scrollbar {
	width: var(--scrollbar-width); /* vertical scrollbar */
	height: var(--scrollbar-width); /* horizontal scrollbar */
}

*::-webkit-scrollbar-track {
	background: var(--scrollbar-track);
	border-radius: var(--scrollbar-width);
}

*::-webkit-scrollbar-thumb {
	background: var(--scrollbar-thumb);
	border-radius: var(--scrollbar-width);
	border: calc(var(--scrollbar-width) / 4) solid var(--page-background);
}

*::-webkit-scrollbar-thumb:hover {
	background: var(--scrollbar-thumb-hover);
}