
:root {
    --container-width: 1920;
    --container-width-in-px: 1920px;
    /* 
        адаптивная переменная в зависимости от размера экрана
        равна 1px на экранах 1920px и больше
        и пропорционально скелится на меньших экранах
    */
    --adaptive-pixel: min(.052085vw, var(--container-width-in-px) / 100 * .052085);
    --gutter: calc(var(--adaptive-pixel) * 200);

    --header-height: var(--size-60);
    --section-height: calc(var(--adaptive-pixel) * 1080);

    --module: calc(var(--adaptive-pixel) * 15);

    --size-4: calc(var(--adaptive-pixel) * 4);
    --size-8: calc(var(--adaptive-pixel) * 8);
    --size-15: var(--module);
    --size-30: calc(var(--module) * 2);
    --size-45: calc(var(--module) * 3);
    --size-60: calc(var(--module) * 4);
    --size-90: calc(var(--module) * 6);
    --size-120: calc(var(--module) * 8); 
    --size-200: calc(var(--adaptive-pixel) * 200); 


    --heading-1: calc(var(--adaptive-pixel) * 350);
    --heading-2: calc(var(--adaptive-pixel) * 48);
    --heading-3: calc(var(--adaptive-pixel) * 32);
    --heading-4: calc(var(--adaptive-pixel) * 24);
    --heading-5: calc(var(--adaptive-pixel) * 18);
    --lead-font-size: calc(var(--adaptive-pixel) * 48);
    --text-font-size: calc(var(--adaptive-pixel) * 18);
    --small-font-size: calc(var(--adaptive-pixel) * 16);
    --extra-small-font-size: calc(var(--adaptive-pixel) * 14);
    --header-line-height: 1.2;
    --text-line-height: 1.4;

    --color-white: #FFFFFF;
    --color-bg-disabled: #25282B;
    --color-black: #010000;
    --color-gray: #C5C0DB;

    // цвета для страниц
    --color-product-primego: #FC1447;
    --color-product-primego-hover: #CD022E;
    --color-product-primego-active: #CD022E;

    --color-product-royal: #FFF;
    --color-product-royal-hover: #CCCCCC;
    --color-product-royal-active: #F4F3FE;

    --color-product-empire: #FFCD01;
    --color-product-empire-hover: #FFDE58;
    --color-product-empire-active: #E1BA1B;

    // default, но перебивается на страницах
    --color-product: var(--color-product-primego);
    --color-product-hover: var(--color-product-primego-hover);
    --color-product-active: var(--color-product-primego-active);
    --button-text-color: var(--color-white);

    --text-color: var(--color-white);
    --text-product: var(--color-product);
    --text-lead: var(--color-white);

}

@media screen and (max-width: 1023px) {
    :root {
        --container-width: 320;
        --container-width-in-px: 320px;
        /* 
            адаптивная переменная в зависимости от размера экрана
            равна 1px на экранах 320px
            и пропорционально скелится на больших экранах
        */
        --adaptive-pixel: calc(100vw / var(--container-width));
        --gutter: calc(var(--adaptive-pixel) * 24);

        --section-height: auto;
        --header-height: auto;

        --heading-1: calc(var(--adaptive-pixel) * 74);
        --heading-2: calc(var(--adaptive-pixel) * 32);
        --heading-3: calc(var(--adaptive-pixel) * 24);
        --heading-4: calc(var(--adaptive-pixel) * 18);
        --heading-5: calc(var(--adaptive-pixel) * 16);
        --lead-font-size: calc(var(--adaptive-pixel) * 18);
        --text-font-size: calc(var(--adaptive-pixel) * 16);
        --small-font-size: calc(var(--adaptive-pixel) * 14);
        --extra-small-font-size: calc(var(--adaptive-pixel) * 12);
    }
}