
:root {
    --container-width: 1920;
    --container-width-in-px: 1920px;
    /* 
        адаптивная переменная в зависимости от размера экрана
        равна 1px на экранах 1920px и больше
        и пропорционально скелится на меньших экранах
    */
    --adaptive-pixel: min(.052085vw, var(--container-width-in-px) / 100 * .052085);
    --gutter: calc(var(--adaptive-pixel) * 200);

    --header-height: var(--size-60);
    --section-height: calc(var(--adaptive-pixel) * 1080);

    --module: calc(var(--adaptive-pixel) * 15);

    --size-4: calc(var(--adaptive-pixel) * 4);
    --size-8: calc(var(--adaptive-pixel) * 8);
    --size-15: var(--module);
    --size-30: calc(var(--module) * 2);
    --size-45: calc(var(--module) * 3);
    --size-60: calc(var(--module) * 4);
    --size-90: calc(var(--module) * 6);
    --size-120: calc(var(--module) * 8); 
    --size-200: calc(var(--adaptive-pixel) * 200); 


    --heading-1: calc(var(--adaptive-pixel) * 350);
    --heading-2: calc(var(--adaptive-pixel) * 48);
    --heading-3: calc(var(--adaptive-pixel) * 32);
    --heading-4: calc(var(--adaptive-pixel) * 24);
    --heading-5: calc(var(--adaptive-pixel) * 18);
    --lead-font-size: calc(var(--adaptive-pixel) * 48);
    --text-font-size: calc(var(--adaptive-pixel) * 18);
    --small-font-size: calc(var(--adaptive-pixel) * 16);
    --extra-small-font-size: calc(var(--adaptive-pixel) * 14);
    --header-line-height: 1.2;
    --text-line-height: 1.4;

    --color-white: #FFFFFF;
    --color-bg-disabled: #25282B;
    --color-black: #010000;
    --color-gray: #C5C0DB;

    // цвета для страниц
    --color-product-primego: #FC1447;
    --color-product-primego-hover: #CD022E;
    --color-product-primego-active: #CD022E;

    --color-product-royal: #FFF;
    --color-product-royal-hover: #CCCCCC;
    --color-product-royal-active: #F4F3FE;

    --color-product-empire: #FFCD01;
    --color-product-empire-hover: #FFDE58;
    --color-product-empire-active: #E1BA1B;

    // default, но перебивается на страницах
    --color-product: var(--color-product-primego);
    --color-product-hover: var(--color-product-primego-hover);
    --color-product-active: var(--color-product-primego-active);
    --button-text-color: var(--color-white);

    --text-color: var(--color-white);
    --text-product: var(--color-product);
    --text-lead: var(--color-white);

    // export from Figma

    //     --main-red: #FC1447;
    //     --stroke-focused: #FC1447;
    //     --stroke-grey: #3F3840;
    //     --bg-black: #050611;
    //     --bg-white: #FFFFFF;
    //     --text-red: #FC1447;
    //     --text-white: #FFFFFF;
    //     --text-grey: #212121;
    //     --text-light-grey: #C9C8D3;
    //     --button-main-style-primary-text-disabled: #C5C0DB;
    //     --button-main-style-primary-text-default: #FFFFFF;
    //     --fields-form: #25282B;
    //     --fields-title: #9D99AC;
    //     --fields-text: #FFFFFF;
    //     --fields-description: #AAAAAA;
        // --main-red: #FC1447;
        // --stroke-grey: #3F3840;
        // --bg-black: #050611;
        // --bg-white: #FFFFFF;
        // --bg-disabled: #25282B;
        // --text-red: #FC1447;
        // --text-white: #FFFFFF;
        // --text-light-grey: #C9C8D3;
        // --text-disabled: #C5C0DB;
        // --button-main-style-primary-text-disabled: #C5C0DB;
        // --button-main-style-primary-text-default: #FFFFFF;
        // --fields-form: #25282B;
        // --fields-text: #FFFFFF;

        // :root {
        //     --main-red: #FC1447;
        //     --stroke-focused: #FC1447;
        //     --stroke-grey: #3F3840;
        //     --bg-black: #050611;
        //     --bg-white: #FFFFFF;
        //     --bg-disabled: #25282B;
        //     --text-red: #FC1447;
        //     --text-white: #FFFFFF;
        //     --text-grey: #212121;
        //     --text-light-grey: #C9C8D3;
        //     --text-disabled: #C5C0DB;
        //     --text-validation: #FEF400;
        //     --text-error: #FC1447;
        //     --text-success: #C2E37D;
        //     --button-style-imperial-secondary-text-default: #FFCD01;
        //     --button-style-imperial-secondary-text-disabled: #C5C0DB;
        //     --button-style-imperial-secondary-text-click: #E1BA1B;
        //     --button-style-imperial-secondary-text-hover: #FFDE58;
        //     --button-style-imperial-secondary-text-focused: #FFCD01;
        //     --button-style-imperial-secondary-text-active: #FFCD01;
        //     --button-style-imperial-secondary-icon-only-text-default: #FFFFFF;
        //     --button-style-imperial-secondary-icon-only-text-disabled: #C5C0DB;
        //     --button-style-imperial-secondary-icon-only-bg-disabled: #25282B;
        //     --button-style-imperial-secondary-icon-only-text-click: #E1BA1B;
        //     --button-style-imperial-secondary-icon-only-bg-default: #050611;
        //     --button-style-imperial-secondary-icon-only-text-hover: #FFCD01;
        //     --button-style-imperial-secondary-icon-only-bg-hover: #050611;
        //     --button-style-imperial-secondary-icon-only-bg-focused: #050611;
        //     --button-style-imperial-secondary-icon-only-stroke-focused: #F845FC;
        //     --button-style-imperial-secondary-icon-only-text-focused: #FFCD01;
        //     --button-style-imperial-secondary-icon-only-bg-active: #050611;
        //     --button-style-imperial-secondary-icon-only-text-active: #FFCD01;
        //     --button-style-imperial-secondary-icon-only-bg-click: #25282B;
        //     --button-style-imperial-primary-bg-default: #FFCD01;
        //     --button-style-imperial-primary-text-hover: #050611;
        //     --button-style-imperial-primary-bg-hover: #FFDE58;
        //     --button-style-imperial-primary-bg-focused: #FFCD01;
        //     --button-style-imperial-primary-stroke-focused: #F845FC;
        //     --button-style-imperial-primary-text-focused: #050611;
        //     --button-style-imperial-primary-bg-active: #FFCD01;
        //     --button-style-imperial-primary-text-active: #050611;
        //     --button-style-imperial-primary-bg-click: #E1BA1B;
        //     --button-style-imperial-primary-text-click: #050611;
        //     --button-style-imperial-primary-bg-disabled: #25282B;
        //     --button-style-imperial-primary-text-disabled: #C5C0DB;
        //     --button-style-imperial-primary-text-default: #050611;
        //     --button-main-style-primary-bg-default: #FC1447;
        //     --button-main-style-primary-text-hover: #FFFFFF;
        //     --button-main-style-primary-bg-hover: #CD022E;
        //     --button-main-style-primary-bg-focused: #FC1447;
        //     --button-main-style-primary-stroke-focused: #F845FC;
        //     --button-main-style-primary-text-focused: #FFFFFF;
        //     --button-main-style-primary-bg-active: #FC1447;
        //     --button-main-style-primary-text-active: #FFFFFF;
        //     --button-main-style-primary-bg-click: #CD022E;
        //     --button-main-style-primary-text-click: #FFFFFF;
        //     --button-main-style-primary-bg-disabled: #25282B;
        //     --button-main-style-primary-text-disabled: #C5C0DB;
        //     --button-main-style-primary-text-default: #FFFFFF;
        //     --button-main-style-secondary-text-default: #FC1447;
        //     --button-main-style-secondary-text-disabled: #C5C0DB;
        //     --button-main-style-secondary-text-click: #CD022E;
        //     --button-main-style-secondary-bg-default: #AFAFAF21;
        //     --button-main-style-secondary-text-hover: #CD022E;
        //     --button-main-style-secondary-bg-hover: #AFAFAF33;
        //     --button-main-style-secondary-bg-focused: #AFAFAF21;
        //     --button-main-style-secondary-text-focused: #FC1447;
        //     --button-main-style-secondary-bg-active: #AFAFAF33;
        //     --button-main-style-secondary-text-active: #FC1447;
        //     --button-main-style-secondary-bg-click: #AFAFAF33;
        //     --button-main-style-secondary-icon-only-bg-default: #050611;
        //     --button-main-style-secondary-icon-only-text-default: #FFFFFF;
        //     --button-main-style-secondary-icon-only-bg-hover: #050611;
        //     --button-main-style-secondary-icon-only-text-hover: #FC1447;
        //     --button-main-style-secondary-icon-only-bg-focused: #050611;
        //     --button-main-style-secondary-icon-only-stroke-focused: #F845FC;
        //     --button-main-style-secondary-icon-only-text-focused: #FC1447;
        //     --button-main-style-secondary-icon-only-bg-active: #050611;
        //     --button-main-style-secondary-icon-only-text-active: #FC1447;
        //     --button-main-style-secondary-icon-only-bg-click: #25282B;
        //     --button-main-style-secondary-icon-only-text-click: #CD022E;
        //     --button-main-style-secondary-icon-only-bg-disabled: #25282B;
        //     --button-main-style-secondary-icon-only-text-disabled: #C5C0DB;
        //     --button-style-royal-secondary-icon-only-bg-default: #050611;
        //     --button-style-royal-secondary-icon-only-text-default: #FFFFFF;
        //     --button-style-royal-secondary-icon-only-bg-hover: #050611;
        //     --button-style-royal-secondary-icon-only-text-hover: #F4F3FE;
        //     --button-style-royal-secondary-icon-only-bg-focused: #050611;
        //     --button-style-royal-secondary-icon-only-stroke-focused: #F845FC;
        //     --button-style-royal-secondary-icon-only-text-focused: #F4F3FE;
        //     --button-style-royal-secondary-icon-only-bg-active: #050611;
        //     --button-style-royal-secondary-icon-only-text-active: #FFFFFF;
        //     --button-style-royal-secondary-icon-only-bg-click: #25282B;
        //     --button-style-royal-secondary-icon-only-text-click: #F4F3FE;
        //     --button-style-royal-secondary-icon-only-bg-disabled: #25282B;
        //     --button-style-royal-secondary-icon-only-text-disabled: #C5C0DB;
        //     --button-style-royal-primary-bg-default: #FFFFFF;
        //     --button-style-royal-primary-text-hover: #050611;
        //     --button-style-royal-primary-bg-hover: #CCCCCC;
        //     --button-style-royal-primary-bg-focused: #FFFFFF;
        //     --button-style-royal-primary-stroke-focused: #F845FC;
        //     --button-style-royal-primary-text-focused: #050611;
        //     --button-style-royal-primary-bg-active: #FFFFFF;
        //     --button-style-royal-primary-text-active: #050611;
        //     --button-style-royal-primary-bg-click: #F4F3FE;
        //     --button-style-royal-primary-bg-disabled: #25282B;
        //     --button-style-royal-primary-text-disabled: #C5C0DB;
        //     --button-style-royal-primary-text-default: #050611;
        //     --button-style-royal-primary-text-click: #050611;
        //     --button-style-royal-secondary-text-default: #FFFFFF;
        //     --button-style-royal-secondary-text-disabled: #C5C0DB;
        //     --button-style-royal-secondary-text-click: #F4F3FE;
        //     --button-style-royal-secondary-bg-default: #AFAFAF21;
        //     --button-style-royal-secondary-text-hover: #F4F3FE;
        //     --button-style-royal-secondary-bg-hover: #AFAFAF33;
        //     --button-style-royal-secondary-bg-focused: #AFAFAF21;
        //     --button-style-royal-secondary-stroke-focused: #F845FC;
        //     --button-style-royal-secondary-text-focused: #FFFFFF;
        //     --button-style-royal-secondary-bg-active: #AFAFAF33;
        //     --button-style-royal-secondary-text-active: #FFFFFF;
        //     --fields-form: #25282B;
        //     --fields-title: #9D99AC;
        //     --fields-text: #FFFFFF;
        //     --fields-description: #AAAAAA;
        //     --fields-stroke-hover: #E8E6F8;
        //     --fields-stroke-focused: #605DEC;
        //     --fields-text-desabled: #A5A5A7;
        //     --fields-stroke-validation: #FFEAC1;
        //     --fields-bg-validation: #25282B;
        //     --fields-stroke-loading: #E8E6F8;
        //     --fields-bg-error: #25282B;
        //     --fields-stroke-error: #FFD8D8;
        // }


}

@media screen and (max-width: 1023px) {
    :root {
        --container-width: 320;
        --container-width-in-px: 320px;
        /* 
            адаптивная переменная в зависимости от размера экрана
            равна 1px на экранах 320px
            и пропорционально скелится на больших экранах
        */
        --adaptive-pixel: calc(100vw / var(--container-width));
        --gutter: calc(var(--adaptive-pixel) * 24);

        --section-height: auto;
        --header-height: auto;

        --heading-1: calc(var(--adaptive-pixel) * 74);
        --heading-2: calc(var(--adaptive-pixel) * 32);
        --heading-3: calc(var(--adaptive-pixel) * 24);
        --heading-4: calc(var(--adaptive-pixel) * 18);
        --heading-5: calc(var(--adaptive-pixel) * 16);
        --lead-font-size: calc(var(--adaptive-pixel) * 18);
        --text-font-size: calc(var(--adaptive-pixel) * 16);
        --small-font-size: calc(var(--adaptive-pixel) * 14);
        --extra-small-font-size: calc(var(--adaptive-pixel) * 12);
    }
}