
:root {
    --container-width: 1920;
    --container-width-in-px: 1920px;
    /* 
        адаптивная переменная в зависимости от размера экрана
        равна 1px на экранах 1920px и больше
        и пропорционально скелится на меньших экранах
    */
    --adaptive-pixel: min(.052085vw, var(--container-width-in-px) / 100 * .052085);
    --gutter: calc(var(--adaptive-pixel) * 90);

    --module: calc(var(--adaptive-pixel) * 15);    /* 15 */

    --size-1: var(--module);                     /* 15 */
    --size-2: calc(var(--adaptive-pixel) * 30);    /* 30 */
    --size-3: calc(var(--adaptive-pixel) * 60);    /* 60 */
    --size-4: calc(var(--adaptive-pixel) * 90);    /* 90 */
    --size-5: calc(var(--adaptive-pixel) * 120);   /* 120 */
    --size-6: calc(var(--adaptive-pixel) * 200);   /* 200 */


    --heading-1: calc(var(--adaptive-pixel) * 350);
    --heading-2: calc(var(--adaptive-pixel) * 48);
    --heading-3: calc(var(--adaptive-pixel) * 32);
    --heading-4: calc(var(--adaptive-pixel) * 24);
    --heading-5: calc(var(--adaptive-pixel) * 18);
    --lead-font-size: calc(var(--adaptive-pixel) * 60);
    --text-font-size: calc(var(--adaptive-pixel) * 18);
    --small-font-size: calc(var(--adaptive-pixel) * 16);
    --header-line-height: 1.2;
    --text-line-height: 1.4;

    --color-white: #FFFFFF;
    --color-lightgray: #FEFEFE;
    --color-black: #010000;

    --color-product-primego: #FC1447;
    --color-product-royal: #FFF;
    --color-product-empire: #FFCD01;

    --color-product: var(--color-product-primego); // default, но перебивается на страницах

    --text-color: var(--color-white);
    --text-product: var(--color-product);
}

@media screen and (width < 1024px) {
    :root {
        --container-width: 640;
        --container-width-in-px: 640px;
        --adaptive-pixel: 0.157vw;
        --gutter: calc(var(--adaptive-pixel) * 24);
    
        --heading-1: calc(var(--adaptive-pixel) * 74);
        --heading-2: calc(var(--adaptive-pixel) * 20);
        --heading-3: calc(var(--adaptive-pixel) * 18);
        --heading-4: calc(var(--adaptive-pixel) * 16);
        --heading-5: calc(var(--adaptive-pixel) * 14);
        --lead-font-size: calc(var(--adaptive-pixel) * 50);
        --text-font-size: calc(var(--adaptive-pixel) * 16);
        --small-font-size: calc(var(--adaptive-pixel) * 14);
    }
}

@media screen and (width < 640px) {
    :root {
        --container-width-in-px: 320px;
        --heading-1: 100px;
        --heading-2: 32px;
        --heading-3: 24px;
        --heading-4: 18px;
        --heading-5: 16px;
        --lead-font-size: calc(var(--adaptive-pixel) * 40);
        --text-font-size: 16px;
        --small-font-size: 14px;
    }
}