
:root {
    --container-width: 1920px;
    /*  */
    --1-fake-pixel: min(.052085vw, var(--container-width) / 100 * .052085);
    --gutter: calc(var(--1-fake-pixel) * 24);
    --section-x-gutter: var(--gutter);

    /* --module: 15px; */
    --module: calc(var(--1-fake-pixel) * 15);    /* max 15px */

    --size-1: var(--module);              /* 15 */
    --size-2: calc(var(--module) * 2);    /* 30 */
    --size-3: calc(var(--module) * 4);    /* 60 */
    --size-4: calc(var(--module) * 6);    /* 90 */
    --size-5: calc(var(--module) * 8);    /* 120 */
    --size-6: calc(var(--module) * 13);   /* 200 */


    --heading-1: calc(var(--1-fake-pixel) * 350);
    --heading-2: calc(var(--1-fake-pixel) * 48);
    --heading-3: calc(var(--1-fake-pixel) * 32);
    --heading-4: calc(var(--1-fake-pixel) * 24);
    --heading-5: calc(var(--1-fake-pixel) * 18);
    --text-font-size: calc(var(--1-fake-pixel) * 18);
    --small-font-size: calc(var(--1-fake-pixel) * 16);
    --header-line-height: 1.2;
    --text-line-height: 1.4;

    --color-white: #FFFFFF;
    --color-lightgray: #FEFEFE;
    --color-black: #050611;
    --color-product: #FC1447;

    --text-color: var(--color-white);
    --text-product: var(--color-product);
}

@media screen and (width < 1024px) {
    :root {
        --heading-1: 74px;
        --heading-2: 20px;
        --heading-3: 18px;
        --heading-4: 16px;
        --heading-5: 14px;
        --text-font-size: 16px;
        --small-font-size: 14px;
    }
}

@media screen and (width < 768px) {
    :root {
        --heading-1: 100px;
        --heading-2: 32px;
        --heading-3: 24px;
        --heading-4: 18px;
        --heading-5: 16px;
        --text-font-size: 16px;
        --small-font-size: 14px;
    }
}