---
import Section from "../ui/Section.astro";
import FooterForm from "../content/FooterForm.astro";

const { backgroundImage } = Astro.props;

const today = new Date();
const currentYear = today.getFullYear();
---

<Section
	as="footer"
	class="footer"
	width="1440"
	backgroundImage={backgroundImage}
>
	<FooterForm />
	<div class="footer__copyright">
		<div class="footer__item">
			<svg
				class="logo"
				role="presentation"
				width="150"
				height="33"
				viewBox="0 0 150 33"
				fill="none"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path
					d="M103.507 15.5751L103.741 15.5325V15.2982C103.72 12.3365 102.697 9.82231 100.759 8.03254C98.9474 6.37061 96.4332 5.43311 93.6847 5.43311C87.6548 5.43311 83.2656 9.65185 83.2656 15.4686C83.2656 21.3706 87.8253 25.5041 94.3452 25.5041C97.8395 25.5041 100.524 24.4388 102.378 22.3507L102.548 22.1589L99.2457 18.5368L99.0327 18.7499C97.7542 19.9643 96.348 20.497 94.4943 20.497C92.598 20.497 91.1918 19.943 90.3182 18.8138L90.2116 18.6646L90.3821 18.622C92.0866 18.1533 98.3935 16.7044 103.507 15.5751ZM89.4233 14.4672L89.2528 14.5098L89.2741 14.3393C89.402 13.0396 89.892 11.9956 90.6378 11.2712C91.4048 10.5467 92.4489 10.1632 93.6847 10.1632C95.4957 10.1632 96.7528 10.909 97.5412 12.443L97.6051 12.5709L97.456 12.6135C96.1349 12.9331 92.2997 13.8067 89.4233 14.4672Z"
					fill="#FEFEFE"></path>
				<path
					d="M126.456 5.71027H120.916V7.07391V7.30828L120.724 7.18044C119.382 6.22163 117.549 5.73158 114.95 5.68896C114.865 5.68896 114.779 5.68896 114.694 5.68896C111.988 5.68896 109.559 6.62646 107.812 8.331C106.108 10.0142 105.191 12.2728 105.191 14.8722C105.191 20.3267 109.282 24.3111 114.929 24.3111C116.654 24.3111 118.849 24.1407 120.511 22.8836L120.724 22.7131L120.703 22.9901C120.639 23.6506 120.447 24.6094 119.829 25.4191C118.87 26.6549 117.208 27.358 115.27 27.358C114.993 27.358 114.694 27.3367 114.396 27.3154C112.777 27.1449 111.243 26.6122 109.836 25.7174L109.794 25.696V25.6747L109.666 25.5895C109.645 25.5895 109.325 25.3551 108.877 24.9077L108.686 24.7159L105.596 27.2728L105.703 27.4858C106.342 28.7429 107.237 29.6165 108.75 30.3622C110.731 31.4489 113.16 32.0668 115.568 32.0668C115.738 32.0668 115.909 32.0668 116.079 32.0668C120.809 31.8963 123.537 30.2344 125.475 26.3139C126.733 23.7571 126.733 19.6662 126.733 15.3409L126.456 5.71027ZM119.403 17.9404C118.466 18.9205 117.145 19.4745 115.76 19.4745C112.883 19.4745 110.88 17.6208 110.88 14.9361C110.88 12.2728 112.883 10.3978 115.76 10.3978C118.764 10.3978 120.49 12.7415 120.596 14.9361C120.66 16.0228 120.213 17.1094 119.403 17.9404Z"
					fill="#FEFEFE"></path>
				<path
					d="M139.175 5.2627C132.89 5.2627 128.309 9.54536 128.309 15.4473C128.309 21.3493 132.868 25.632 139.175 25.632C145.439 25.632 149.999 21.3493 149.999 15.4473C150.02 9.54536 145.461 5.2627 139.175 5.2627ZM139.175 20.4757C136.405 20.4757 134.551 18.4516 134.551 15.4473C134.551 12.4431 136.405 10.4189 139.175 10.4189C141.924 10.4189 143.777 12.4431 143.777 15.4473C143.777 18.4516 141.924 20.4757 139.175 20.4757Z"
					fill="#FEFEFE"></path>
				<path
					d="M18.9418 2.47158C17.0028 0.852267 14.2543 0 10.9517 0H0V25.1846H6.28551V18.5369V18.4091H6.41335H10.9517C14.2543 18.4091 17.0028 17.5568 18.9418 15.9588C20.902 14.3395 21.9247 12.017 21.9247 9.22584C21.9247 6.43465 20.902 4.0909 18.9418 2.47158ZM13.9347 12.4432C13.125 12.9332 12.017 13.1889 10.6321 13.1889H6.41335H6.28551V13.0611V5.348V5.22017H6.41335H10.6321C11.9957 5.22017 13.1037 5.47585 13.9347 5.9659C15.0213 6.62642 15.5753 7.71306 15.5753 9.20454C15.5753 10.696 15.0213 11.7827 13.9347 12.4432Z"
					fill="#FEFEFE"></path>
				<path
					d="M36.5827 5.45459V11.1222L36.0288 11.0796C35.6878 11.0583 35.3895 11.037 35.0486 11.037C33.7276 11.037 32.6623 11.3566 31.8739 11.9745C30.8299 12.8054 30.3185 14.1478 30.3185 16.0015V25.206H24.2461V5.73159H30.0842V7.41482V7.6918L30.2759 7.50005C31.6822 6.15772 33.7489 5.45459 36.2844 5.45459H36.5827Z"
					fill="#FEFEFE"></path>
				<path
					d="M45.1935 5.73145V25.2059H39.1211V5.73145H45.1935Z"
					fill="#FEFEFE"></path>
				<path
					d="M73.1259 5.45471C75.5122 5.45471 77.5151 6.17915 78.8787 7.56409C80.3702 9.05557 81.1372 11.2715 81.1372 14.1053V25.2061H75.0648V14.9362C75.0648 13.5726 74.7878 12.5286 74.2338 11.8255C73.6798 11.1223 72.8489 10.7601 71.7622 10.7601C69.2693 10.7601 67.8844 12.422 67.8844 15.405V25.1848H61.8333V14.9149C61.8333 13.5087 61.5776 12.486 61.0236 11.8042C60.4696 11.101 59.6387 10.7601 58.552 10.7601C56.0804 10.7601 54.6955 12.422 54.6955 15.405V25.1848H48.623V5.7104H54.4398V7.18057V7.43626L54.6316 7.26579C56.0378 6.0513 57.9341 5.41211 60.0648 5.41211C62.6642 5.41211 64.8588 6.39222 66.2225 8.18199L66.3077 8.28853L66.3929 8.18199C68.0122 6.45614 70.4625 5.45471 73.1259 5.45471Z"
					fill="#FEFEFE"></path>
			</svg>
		</div>
		<div class="footer__item footer__item_center">
			<svg
				class="logo-icon"
				role="presentation"
				width="62"
				height="40"
				viewBox="0 0 62 40"
				fill="none"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path
					d="M0.124293 39.331L41.7537 0.107864C42.0558 -0.172687 42.5198 0.140235 42.3903 0.517899L35.7758 19.0234C35.6787 19.2932 35.8837 19.5738 36.1643 19.5738L61.2304 19.4874C61.6404 19.4874 61.7699 20.027 61.4138 20.2212L40.8689 31.0548C40.556 31.2166 40.5883 31.6698 40.9012 31.7993L59.2665 39.2447C59.6658 39.4065 59.5471 39.9892 59.1154 39.9892L0.394053 40C0.0379693 40 -0.134677 39.5792 0.124293 39.331Z"
					fill="currentColor"></path>
			</svg>
		</div>
		<div class="footer__item footer__item_right">
			<span>&copy; Все права защищены | PRIMEGO {currentYear}</span>
		</div>
	</div>
</Section>
<style>
	.footer {
		background-position: top center;
		background-size: cover;
		background-repeat: no-repeat;
		/* min-height: calc(var(--adaptive-pixel) * 1080); */
	}
	.footer__item {
		flex: 1 1 0px;
		display: flex;
	}
	.footer__item_center {
		justify-content: center;
	}
	.footer__item_right {
		justify-content: flex-end;
	}
	.footer__copyright {
		display: flex;
		justify-content: space-around;
		align-items: center;
		margin: var(--size-5) 0;
	}
</style>
