---
import Section from "../ui/Section.astro";
import FooterForm from "../content/FooterForm.astro";
import TopBar from "./TopBar.astro";

const { backgroundImage } = Astro.props;

const today = new Date();
const currentYear = today.getFullYear();
---

<Section
	as="footer"
	class="footer"
	width="1440"
	backgroundImage={backgroundImage}
>
	<FooterForm/>
	<Fragment slot="after-footer">
		<TopBar class="top-bar_in-footer">
			<div class="footer__copyright">
				<span>©&nbsp;Все права защищены | PRIMEGO&nbsp;{currentYear}</span>
			</div>
		</Header>
	</Fragment>
</Section>
<style>
	.footer {
		background-position: top center;
		background-size: cover;
		background-repeat: no-repeat;
		/* min-height: calc(var(--1px) * 1080); */
	}
	.footer__copyright {
		opacity: .8;
		color: var(--color-white);
		margin-top: var(--30px);
		font-size: var(--extra-small-font-size);
	}
	@media screen and (max-width: 1023px) {
		.footer__copyright {
			margin: 0;
			text-align: center;
		}
	}
</style>
