---
import Section from "../ui/Section.astro";
import TopBar from "./TopBar.astro";

const { as: tag = "header" } = Astro.props;
---

<Section as={tag} class="header">
	<TopBar>
		<div class="action-panel">
			<button class="button-login" type="button" onclick="alert('disabled')">
				Войти на сайт
			</button>
			<button class="button-card" type="button" onclick="alert('disabled')">
				<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M6 2L3 6V20C3 20.5304 3.21071 21.0391 3.58579 21.4142C3.96086 21.7893 4.46957 22 5 22H19C19.5304 22 20.0391 21.7893 20.4142 21.4142C20.7893 21.0391 21 20.5304 21 20V6L18 2H6Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M3 6H21" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M16 10C16 11.0609 15.5786 12.0783 14.8284 12.8284C14.0783 13.5786 13.0609 14 12 14C10.9391 14 9.92172 13.5786 9.17157 12.8284C8.42143 12.0783 8 11.0609 8 10" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
				</svg>
				0
			</button>
		</div>
	</TopBar>
</Section>

<style lang="scss">
	.header {
		background-color: var(--color-black);
		min-height: var(--header-height);
		position: relative;
		z-index: 2;
		overflow: initial;
	}
	.action-panel {
		background-color: var(--color-bg-disabled);
		box-shadow: 0 calc(var(--adaptive-pixel) * -8) 0 0 var(--color-bg-disabled);
		color: var(--color-white);
		padding: calc(var(--adaptive-pixel) * 12) var(--size-15);
		display: flex;
		gap: var(--size-30);
		border-radius: 0 0 calc(var(--adaptive-pixel) * 4) calc(var(--adaptive-pixel) * 4);
        font-family: inherit;
		transition: transform 0.5s ease;
		&:focus-within,
		&:hover {
			background-color: var(--color-product);
			box-shadow: 0 calc(var(--adaptive-pixel) * -8) 0 0 var(--color-product);
			transform: translate(0, calc(var(--adaptive-pixel) * 8));
			& > * {
				transform: translate(0, calc(var(--adaptive-pixel) * -4));
			}
		}

		& > * {
			transition: transform 0.5s ease;
		}
	}
	// ToDo :hover
	.button-login {
		color: currentColor;
		padding: calc(var(--adaptive-pixel) * 8) calc(var(--adaptive-pixel) * 24);
		border: none;
		background-color: rgba(#AFAFAF, .13);
		border-radius: calc(var(--adaptive-pixel) * 4);
		cursor: pointer;
        font-family: inherit;
		font-size: var(--extra-small-font-size);
		font-weight: 500;
		&:hover {
			background: rgba(0, 0, 0, .2);
		}
	}
	.button-card {
		color: currentColor;
		padding: 0;
		background-color: transparent;
		border: none;
		display: flex;
		align-items: center;
		cursor: pointer;
		gap: calc(var(--adaptive-pixel) * 10);
		font-size: calc(var(--adaptive-pixel) * 20);
		font-weight: 500;
		svg {
			width: calc(var(--adaptive-pixel) * 24);
			height: calc(var(--adaptive-pixel) * 24);
		}
	}
	@media screen and (width < 1024px) {
		
	}
</style>
