---
import Section from "../ui/Section.astro";
import Dialog from "../ui/Dialog.astro";
import ShopCart from "../blocks/ShopCart.vue";
import SocialList from "../ui/SocialList.astro";
import Logo from "../ui/Logo.astro";
import ActionPanel from "../blocks/ActionPanel.astro";

const {
	as: tag = "header",
	isHome = false,
} = Astro.props;
---

<Section as={tag} class="header">
	<div class="top-bar">
		<div class="top-bar__cell top-bar__cell_1">
			<a href="/" aria-label="На главную" class="back-button" hidden={isHome}>
				<svg role="presentation" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M19 12H5" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M12 19L5 12L12 5" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
				</svg>
			</a>
			<SocialList class="display-mobile-none"/>
		</div>
		<div class="top-bar__cell top-bar__cell_2">
			<a href="/" aria-label="На главную">
				<Logo />
			</a>
		</div>
		<div class="top-bar__cell top-bar__cell_3">
			<ActionPanel />
		</div>
	</div>
</Section>

<script></script>
<style lang="scss">
	.header {
		background-color: var(--color-black);
		min-height: var(--header-height) !important;
		position: relative;
		z-index: 2;
		overflow: initial;
	}
	.top-bar {
		height: var(--header-height);
		display: flex;
		align-items: center;
	}
	.top-bar_in-footer {
		margin-bottom: var(--30px);
	}
	.top-bar__cell {
		display: flex;
		align-items: center;
	}
	.top-bar__cell_1,
	.top-bar__cell_3 {
		flex-grow: 1;
		flex-basis: 50%;
	}
	.top-bar__cell_3 {
		justify-content: flex-end;
		align-self: flex-start;
	}
	.back-button {
		display: none;
		svg {
			display: block;
			width: calc(var(--1px) * 24);
			height: calc(var(--1px) * 24);
		}
	}
	@media screen and (max-width: 1023px) {
		.back-button {
			display: block;
			margin-right: var(--15px);
		}
		.top-bar__cell_1 {
			flex-basis: auto;
			flex-grow: inherit;
			flex-shrink: 0;
		}
		.top-bar {
			align-items: center;
		}
	}
</style>
