---
const {
  class: className
} = Astro.props;
---

<div class:list={["top-bar", className]}>
	<div class="top-bar__cell top-bar__cell_1">
		<div class="logo-block">
			<a href="/" aria-label="На главную">
				<svg
					class="logo"
					role="presentation"
					width="150"
					height="33"
					viewBox="0 0 150 33"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						d="M103.507 15.5751L103.741 15.5325V15.2982C103.72 12.3365 102.697 9.82231 100.759 8.03254C98.9474 6.37061 96.4332 5.43311 93.6847 5.43311C87.6548 5.43311 83.2656 9.65185 83.2656 15.4686C83.2656 21.3706 87.8253 25.5041 94.3452 25.5041C97.8395 25.5041 100.524 24.4388 102.378 22.3507L102.548 22.1589L99.2457 18.5368L99.0327 18.7499C97.7542 19.9643 96.348 20.497 94.4943 20.497C92.598 20.497 91.1918 19.943 90.3182 18.8138L90.2116 18.6646L90.3821 18.622C92.0866 18.1533 98.3935 16.7044 103.507 15.5751ZM89.4233 14.4672L89.2528 14.5098L89.2741 14.3393C89.402 13.0396 89.892 11.9956 90.6378 11.2712C91.4048 10.5467 92.4489 10.1632 93.6847 10.1632C95.4957 10.1632 96.7528 10.909 97.5412 12.443L97.6051 12.5709L97.456 12.6135C96.1349 12.9331 92.2997 13.8067 89.4233 14.4672Z"
						fill="#FEFEFE"></path>
					<path
						d="M126.456 5.71027H120.916V7.07391V7.30828L120.724 7.18044C119.382 6.22163 117.549 5.73158 114.95 5.68896C114.865 5.68896 114.779 5.68896 114.694 5.68896C111.988 5.68896 109.559 6.62646 107.812 8.331C106.108 10.0142 105.191 12.2728 105.191 14.8722C105.191 20.3267 109.282 24.3111 114.929 24.3111C116.654 24.3111 118.849 24.1407 120.511 22.8836L120.724 22.7131L120.703 22.9901C120.639 23.6506 120.447 24.6094 119.829 25.4191C118.87 26.6549 117.208 27.358 115.27 27.358C114.993 27.358 114.694 27.3367 114.396 27.3154C112.777 27.1449 111.243 26.6122 109.836 25.7174L109.794 25.696V25.6747L109.666 25.5895C109.645 25.5895 109.325 25.3551 108.877 24.9077L108.686 24.7159L105.596 27.2728L105.703 27.4858C106.342 28.7429 107.237 29.6165 108.75 30.3622C110.731 31.4489 113.16 32.0668 115.568 32.0668C115.738 32.0668 115.909 32.0668 116.079 32.0668C120.809 31.8963 123.537 30.2344 125.475 26.3139C126.733 23.7571 126.733 19.6662 126.733 15.3409L126.456 5.71027ZM119.403 17.9404C118.466 18.9205 117.145 19.4745 115.76 19.4745C112.883 19.4745 110.88 17.6208 110.88 14.9361C110.88 12.2728 112.883 10.3978 115.76 10.3978C118.764 10.3978 120.49 12.7415 120.596 14.9361C120.66 16.0228 120.213 17.1094 119.403 17.9404Z"
						fill="#FEFEFE"></path>
					<path
						d="M139.175 5.2627C132.89 5.2627 128.309 9.54536 128.309 15.4473C128.309 21.3493 132.868 25.632 139.175 25.632C145.439 25.632 149.999 21.3493 149.999 15.4473C150.02 9.54536 145.461 5.2627 139.175 5.2627ZM139.175 20.4757C136.405 20.4757 134.551 18.4516 134.551 15.4473C134.551 12.4431 136.405 10.4189 139.175 10.4189C141.924 10.4189 143.777 12.4431 143.777 15.4473C143.777 18.4516 141.924 20.4757 139.175 20.4757Z"
						fill="#FEFEFE"></path>
					<path
						d="M18.9418 2.47158C17.0028 0.852267 14.2543 0 10.9517 0H0V25.1846H6.28551V18.5369V18.4091H6.41335H10.9517C14.2543 18.4091 17.0028 17.5568 18.9418 15.9588C20.902 14.3395 21.9247 12.017 21.9247 9.22584C21.9247 6.43465 20.902 4.0909 18.9418 2.47158ZM13.9347 12.4432C13.125 12.9332 12.017 13.1889 10.6321 13.1889H6.41335H6.28551V13.0611V5.348V5.22017H6.41335H10.6321C11.9957 5.22017 13.1037 5.47585 13.9347 5.9659C15.0213 6.62642 15.5753 7.71306 15.5753 9.20454C15.5753 10.696 15.0213 11.7827 13.9347 12.4432Z"
						fill="#FEFEFE"></path>
					<path
						d="M36.5827 5.45459V11.1222L36.0288 11.0796C35.6878 11.0583 35.3895 11.037 35.0486 11.037C33.7276 11.037 32.6623 11.3566 31.8739 11.9745C30.8299 12.8054 30.3185 14.1478 30.3185 16.0015V25.206H24.2461V5.73159H30.0842V7.41482V7.6918L30.2759 7.50005C31.6822 6.15772 33.7489 5.45459 36.2844 5.45459H36.5827Z"
						fill="#FEFEFE"></path>
					<path
						d="M45.1935 5.73145V25.2059H39.1211V5.73145H45.1935Z"
						fill="#FEFEFE"></path>
					<path
						d="M73.1259 5.45471C75.5122 5.45471 77.5151 6.17915 78.8787 7.56409C80.3702 9.05557 81.1372 11.2715 81.1372 14.1053V25.2061H75.0648V14.9362C75.0648 13.5726 74.7878 12.5286 74.2338 11.8255C73.6798 11.1223 72.8489 10.7601 71.7622 10.7601C69.2693 10.7601 67.8844 12.422 67.8844 15.405V25.1848H61.8333V14.9149C61.8333 13.5087 61.5776 12.486 61.0236 11.8042C60.4696 11.101 59.6387 10.7601 58.552 10.7601C56.0804 10.7601 54.6955 12.422 54.6955 15.405V25.1848H48.623V5.7104H54.4398V7.18057V7.43626L54.6316 7.26579C56.0378 6.0513 57.9341 5.41211 60.0648 5.41211C62.6642 5.41211 64.8588 6.39222 66.2225 8.18199L66.3077 8.28853L66.3929 8.18199C68.0122 6.45614 70.4625 5.45471 73.1259 5.45471Z"
						fill="#FEFEFE"></path>
				</svg>
				<svg
					class="mobile-logo"
					role="presentation"
					width="68"
					height="50"
					viewBox="0 0 68 50"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						d="M14.3405 34.2897L50.5372 0.0940382C50.7999 -0.150553 51.2034 0.12226 51.0908 0.451517L45.3395 16.5851C45.255 16.8203 45.4333 17.0649 45.6772 17.0649L67.4722 16.9896C67.8287 16.9896 67.9413 17.46 67.6317 17.6293L49.7679 27.0743C49.4958 27.2154 49.5239 27.6105 49.796 27.7234L65.7646 34.2145C66.1118 34.3556 66.0086 34.8636 65.6333 34.8636L14.5751 34.873C14.2654 34.873 14.1153 34.5061 14.3405 34.2897Z"
						fill="currentColor"></path>
					<path
						d="M46.5401 42.7186L46.6433 42.6998V42.5963C46.6339 41.2887 46.1836 40.1786 45.3298 39.3884C44.5323 38.6546 43.4252 38.2407 42.2149 38.2407C39.5597 38.2407 37.627 40.1034 37.627 42.6716C37.627 45.2774 39.6348 47.1024 42.5057 47.1024C44.0444 47.1024 45.2266 46.6321 46.0428 45.7102L46.1179 45.6255L44.6636 44.0262L44.5698 44.1203C44.0069 44.6565 43.3877 44.8917 42.5714 44.8917C41.7364 44.8917 41.1172 44.6471 40.7325 44.1485L40.6856 44.0827L40.7606 44.0639C41.5112 43.8569 44.2884 43.2172 46.5401 42.7186ZM40.3384 42.2294L40.2634 42.2482L40.2727 42.173C40.329 41.5991 40.5448 41.1382 40.8732 40.8183C41.211 40.4985 41.6707 40.3292 42.2149 40.3292C43.0124 40.3292 43.5659 40.6584 43.9131 41.3357L43.9412 41.3922L43.8755 41.411C43.2938 41.5521 41.605 41.9378 40.3384 42.2294Z"
						fill="currentColor"></path>
					<path
						d="M56.6447 38.3629H54.2054V38.965V39.0685L54.1209 39.012C53.5298 38.5887 52.723 38.3723 51.5783 38.3535C51.5408 38.3535 51.5033 38.3535 51.4657 38.3535C50.2742 38.3535 49.2046 38.7674 48.4353 39.52C47.6847 40.2632 47.2812 41.2604 47.2812 42.4081C47.2812 44.8164 49.0826 46.5755 51.5689 46.5755C52.3289 46.5755 53.2953 46.5003 54.0271 45.9452L54.1209 45.87L54.1115 45.9923C54.0834 46.2839 53.9989 46.7072 53.7269 47.0647C53.3047 47.6103 52.5728 47.9208 51.7191 47.9208C51.5971 47.9208 51.4657 47.9114 51.3344 47.902C50.6213 47.8267 49.9458 47.5915 49.3266 47.1964L49.3078 47.187V47.1776L49.2515 47.14C49.2421 47.14 49.1014 47.0365 48.9044 46.8389L48.8199 46.7543L47.4595 47.8831L47.5064 47.9772C47.7879 48.5323 48.1819 48.918 48.8481 49.2472C49.7206 49.727 50.7902 49.9998 51.8504 49.9998C51.9255 49.9998 52.0005 49.9998 52.0756 49.9998C54.1584 49.9245 55.3594 49.1908 56.2132 47.4598C56.7667 46.3309 56.7667 44.5247 56.7667 42.615L56.6447 38.3629ZM53.5392 43.7627C53.1264 44.1955 52.5447 44.4401 51.9348 44.4401C50.6682 44.4401 49.7863 43.6216 49.7863 42.4363C49.7863 41.2604 50.6682 40.4325 51.9348 40.4325C53.2577 40.4325 54.0177 41.4673 54.0646 42.4363C54.0928 42.9161 53.8957 43.3958 53.5392 43.7627Z"
						fill="currentColor"></path>
					<path
						d="M62.2459 38.1655C59.4781 38.1655 57.4609 40.0564 57.4609 42.6622C57.4609 45.2681 59.4687 47.1589 62.2459 47.1589C65.0043 47.1589 67.0121 45.2681 67.0121 42.6622C67.0215 40.0564 65.0137 38.1655 62.2459 38.1655ZM62.2459 44.8824C61.0262 44.8824 60.2099 43.9887 60.2099 42.6622C60.2099 41.3358 61.0262 40.4421 62.2459 40.4421C63.4562 40.4421 64.2725 41.3358 64.2725 42.6622C64.2725 43.9887 63.4562 44.8824 62.2459 44.8824Z"
						fill="currentColor"></path>
					<path
						d="M9.30176 36.933C8.44798 36.2181 7.23767 35.8418 5.78342 35.8418H0.960938V46.9613H3.7287V44.0262V43.9697H3.785H5.78342C7.23767 43.9697 8.44798 43.5934 9.30176 42.8879C10.1649 42.1729 10.6153 41.1475 10.6153 39.9152C10.6153 38.6828 10.1649 37.648 9.30176 36.933ZM7.09693 41.3357C6.74041 41.5521 6.25253 41.6649 5.64268 41.6649H3.785H3.7287V41.6085V38.203V38.1466H3.785H5.64268C6.24315 38.1466 6.73103 38.2595 7.09693 38.4759C7.57543 38.7675 7.81936 39.2473 7.81936 39.9058C7.81936 40.5643 7.57543 41.0441 7.09693 41.3357Z"
						fill="currentColor"></path>
					<path
						d="M17.069 38.25V40.7524L16.8251 40.7335C16.675 40.7241 16.5436 40.7147 16.3935 40.7147C15.8118 40.7147 15.3427 40.8558 14.9956 41.1286C14.5358 41.4955 14.3107 42.0882 14.3107 42.9066V46.9706H11.6367V38.3723H14.2075V39.1155V39.2378L14.2919 39.1531C14.9111 38.5604 15.8212 38.25 16.9377 38.25H17.069Z"
						fill="currentColor"></path>
					<path
						d="M20.8595 38.3726V46.9709H18.1855V38.3726H20.8595Z"
						fill="currentColor"></path>
					<path
						d="M33.1607 38.2503C34.2115 38.2503 35.0934 38.5701 35.6939 39.1816C36.3507 39.8401 36.6884 40.8185 36.6884 42.0696V46.9709H34.0145V42.4365C34.0145 41.8345 33.8925 41.3735 33.6486 41.0631C33.4046 40.7526 33.0387 40.5927 32.5602 40.5927C31.4625 40.5927 30.8527 41.3265 30.8527 42.6435V46.9615H28.1881V42.4271C28.1881 41.8062 28.0755 41.3547 27.8316 41.0536C27.5876 40.7432 27.2217 40.5927 26.7432 40.5927C25.6549 40.5927 25.045 41.3265 25.045 42.6435V46.9615H22.3711V38.3631H24.9324V39.0123V39.1251L25.0169 39.0499C25.6361 38.5137 26.4711 38.2314 27.4094 38.2314C28.554 38.2314 29.5204 38.6642 30.1208 39.4544L30.1584 39.5014L30.1959 39.4544C30.9089 38.6924 31.9879 38.2503 33.1607 38.2503Z"
						fill="currentColor"></path>
				</svg>
			</a>
		</div>

		<ul class="social-list" aria-label="Соцсети">
			<li class="social-list__item">
				<a
					href=""
					class="social-list__link"
					target="_blank"
					title="Youtube"
				>
					<span class="sr-only" lang="en">Youtube</span>
					<svg role="presentation" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M22.5396 6.42C22.4208 5.94541 22.1789 5.51057 21.8382 5.15941C21.4976 4.80824 21.0703 4.55318 20.5996 4.42C18.8796 4 11.9996 4 11.9996 4C11.9996 4 5.1196 4 3.3996 4.46C2.92884 4.59318 2.50157 4.84824 2.16094 5.19941C1.82031 5.55057 1.57838 5.98541 1.4596 6.46C1.14481 8.20556 0.990831 9.97631 0.999595 11.75C0.988374 13.537 1.14236 15.3213 1.4596 17.08C1.59055 17.5398 1.8379 17.9581 2.17774 18.2945C2.51758 18.6308 2.93842 18.8738 3.3996 19C5.1196 19.46 11.9996 19.46 11.9996 19.46C11.9996 19.46 18.8796 19.46 20.5996 19C21.0703 18.8668 21.4976 18.6118 21.8382 18.2606C22.1789 17.9094 22.4208 17.4746 22.5396 17C22.852 15.2676 23.0059 13.5103 22.9996 11.75C23.0108 9.96295 22.8568 8.1787 22.5396 6.42Z" fill="white"/>
						<path d="M9.75 15.0205L15.5 11.7505L9.75 8.48047V15.0205Z" fill="#050611"/>
					</svg>
				</a>
			</li>
			<li class="social-list__item">
				<a
					href=""
					class="social-list__link"
					target="_blank"
					title="Instagram"
				>
					<span class="sr-only" lang="en">Instagram</span>
					<svg role="presentation" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M17 2H7C4.23858 2 2 4.23858 2 7V17C2 19.7614 4.23858 22 7 22H17C19.7614 22 22 19.7614 22 17V7C22 4.23858 19.7614 2 17 2Z" fill="white"/>
						<path d="M15.9997 11.3703C16.1231 12.2025 15.981 13.0525 15.5935 13.7993C15.206 14.5461 14.5929 15.1517 13.8413 15.53C13.0898 15.9082 12.2382 16.0399 11.4075 15.9062C10.5768 15.7726 9.80947 15.3804 9.21455 14.7855C8.61962 14.1905 8.22744 13.4232 8.09377 12.5925C7.96011 11.7619 8.09177 10.9102 8.47003 10.1587C8.84829 9.40716 9.45389 8.79404 10.2007 8.40654C10.9475 8.01904 11.7975 7.87689 12.6297 8.0003C13.4786 8.12619 14.2646 8.52176 14.8714 9.12861C15.4782 9.73545 15.8738 10.5214 15.9997 11.3703Z" fill="#050611" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M17.5 6.5H17.51" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
				</a>
			</li>
			<li class="social-list__item">
				<a
					href=""
					class="social-list__link"
					target="_blank"
					title="Vkontakte"
				>
					<span class="sr-only" lang="en">Vkontakte</span>
					<svg role="presentation" width="21" height="25" viewBox="0 0 21 25" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M20.003 18.3804H17.722C16.859 18.3804 16.599 17.6814 15.052 16.1334C13.7 14.8304 13.129 14.6684 12.787 14.6684C12.314 14.6684 12.185 14.7984 12.185 15.4494V17.5014C12.185 18.0564 12.005 18.3814 10.555 18.3814C9.14829 18.2869 7.78416 17.8595 6.57497 17.1345C5.36578 16.4095 4.34612 15.4076 3.6 14.2114C1.82839 12.0064 0.595707 9.41844 0 6.65336C0 6.31136 0.13 6.00136 0.782 6.00136H3.062C3.648 6.00136 3.859 6.26236 4.089 6.86536C5.196 10.1234 7.085 12.9574 7.852 12.9574C8.146 12.9574 8.274 12.8274 8.274 12.0944V8.73836C8.177 7.20736 7.364 7.07836 7.364 6.52436C7.37428 6.3782 7.44114 6.24181 7.55037 6.14415C7.65961 6.04649 7.80261 5.99527 7.949 6.00136H11.533C12.023 6.00136 12.185 6.24536 12.185 6.83136V11.3614C12.185 11.8504 12.395 12.0124 12.543 12.0124C12.837 12.0124 13.063 11.8504 13.602 11.3124C14.7574 9.90334 15.7013 8.33352 16.404 6.65236C16.4759 6.45051 16.6119 6.27773 16.7912 6.16037C16.9705 6.04302 17.1832 5.98752 17.397 6.00236H19.678C20.362 6.00236 20.507 6.34436 20.362 6.83236C19.5324 8.69077 18.5058 10.4549 17.3 12.0944C17.054 12.4694 16.956 12.6644 17.3 13.1044C17.526 13.4464 18.326 14.1144 18.863 14.7494C19.645 15.5294 20.294 16.4314 20.785 17.4194C20.981 18.0554 20.654 18.3804 20.003 18.3804Z" fill="white"/>
					</svg>
				</a>
			</li>
		</ul>
	</div>
	<div class="top-bar__cell top-bar__cell_2">
		<svg
			class="logo-icon"
			role="presentation"
			width="62"
			height="40"
			viewBox="0 0 62 40"
			fill="none"
			xmlns="http://www.w3.org/2000/svg"
		>
			<path
				d="M0.124293 39.331L41.7537 0.107864C42.0558 -0.172687 42.5198 0.140235 42.3903 0.517899L35.7758 19.0234C35.6787 19.2932 35.8837 19.5738 36.1643 19.5738L61.2304 19.4874C61.6404 19.4874 61.7699 20.027 61.4138 20.2212L40.8689 31.0548C40.556 31.2166 40.5883 31.6698 40.9012 31.7993L59.2665 39.2447C59.6658 39.4065 59.5471 39.9892 59.1154 39.9892L0.394053 40C0.0379693 40 -0.134677 39.5792 0.124293 39.331Z"
				fill="currentColor"></path>
		</svg>
	</div>
	<div class="top-bar__cell top-bar__cell_3">
		<slot></slot>
	</div>
</div>

<style lang="scss">
	.header {
		background-color: var(--color-black);
		min-height: auto;
	}
	.top-bar {
		min-height: calc(var(--adaptive-pixel) * 60);
		display: flex;
		align-items: flex-end;
		&_margin-bottom {
			margin-bottom: var(--size-30);
		}
	}
	.top-bar__cell {
		display: flex;
		align-items: center;
	}
	.top-bar__cell_1,
	.top-bar__cell_3 {
		flex-grow: 1;
		flex-basis: 50%;
	}
	.top-bar__cell_3 {
		justify-content: flex-end;
		align-self: flex-start;
	}
	.logo-block {
		display: flex;
	}
	.social-list {
		margin: 0;
		padding: 0;
		display: flex;
		flex-grow: 1;
		justify-content: center;
		align-items: center;
	}
	.social-list__item {
		margin: 0;
		padding-right: calc(var(--adaptive-pixel) * 50);
		list-style-type: none;
	}
	.social-list__link {
		display: block;
		opacity: 0.7;
		&:hover,
		&:focus {
			opacity: 1;
		}
		svg {
			width: calc(var(--adaptive-pixel) * 24);
			height: calc(var(--adaptive-pixel) * 24);
		}
	}
	.mobile-logo {
		display: none;
		height: calc(var(--adaptive-pixel)*50);
		width: calc(var(--adaptive-pixel)*66);
		color: var(--color-product);
	}
	@media screen and (width < 1024px) {
		.logo,
		.logo-icon,
		.action-button {
			display: none;
		}
		.mobile-logo {
			display: block;
		}
		.social-list[data-astro-cid-3ef6ksr2] {
			flex-grow: 0;
		}
		.top-bar__cell_1 {
			justify-content: space-between;
		}
		// .top-bar__cell_2,
		// .top-bar__cell_3 {
		// 	display: none;
		// }
	}
</style>

<style is:global>
	.logo {
		width: calc(var(--adaptive-pixel) * 150);
		height: calc(var(--adaptive-pixel) * 32);
	}
	.logo-icon {
		width: calc(var(--adaptive-pixel) * 62);
		height: calc(var(--adaptive-pixel) * 40);
		color: var(--color-product);
	}
</style>
