---
const {
  	class: className,
	isHome = false,
} = Astro.props;
---

<div class:list={["top-bar", className]}>
	<div class="top-bar__cell top-bar__cell_1">
		<a href="/" aria-label="На главную" class="back-button" hidden={isHome}>
			<svg role="presentation" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M19 12H5" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M12 19L5 12L12 5" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
			</svg>
		</a>
		<div class="logo-block">
			<a href="/" aria-label="На главную">
				<svg
					class="logo"
					role="presentation"
					width="150"
					height="33"
					viewBox="0 0 150 33"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						d="M103.507 15.5751L103.741 15.5325V15.2982C103.72 12.3365 102.697 9.82231 100.759 8.03254C98.9474 6.37061 96.4332 5.43311 93.6847 5.43311C87.6548 5.43311 83.2656 9.65185 83.2656 15.4686C83.2656 21.3706 87.8253 25.5041 94.3452 25.5041C97.8395 25.5041 100.524 24.4388 102.378 22.3507L102.548 22.1589L99.2457 18.5368L99.0327 18.7499C97.7542 19.9643 96.348 20.497 94.4943 20.497C92.598 20.497 91.1918 19.943 90.3182 18.8138L90.2116 18.6646L90.3821 18.622C92.0866 18.1533 98.3935 16.7044 103.507 15.5751ZM89.4233 14.4672L89.2528 14.5098L89.2741 14.3393C89.402 13.0396 89.892 11.9956 90.6378 11.2712C91.4048 10.5467 92.4489 10.1632 93.6847 10.1632C95.4957 10.1632 96.7528 10.909 97.5412 12.443L97.6051 12.5709L97.456 12.6135C96.1349 12.9331 92.2997 13.8067 89.4233 14.4672Z"
						fill="#FEFEFE"></path>
					<path
						d="M126.456 5.71027H120.916V7.07391V7.30828L120.724 7.18044C119.382 6.22163 117.549 5.73158 114.95 5.68896C114.865 5.68896 114.779 5.68896 114.694 5.68896C111.988 5.68896 109.559 6.62646 107.812 8.331C106.108 10.0142 105.191 12.2728 105.191 14.8722C105.191 20.3267 109.282 24.3111 114.929 24.3111C116.654 24.3111 118.849 24.1407 120.511 22.8836L120.724 22.7131L120.703 22.9901C120.639 23.6506 120.447 24.6094 119.829 25.4191C118.87 26.6549 117.208 27.358 115.27 27.358C114.993 27.358 114.694 27.3367 114.396 27.3154C112.777 27.1449 111.243 26.6122 109.836 25.7174L109.794 25.696V25.6747L109.666 25.5895C109.645 25.5895 109.325 25.3551 108.877 24.9077L108.686 24.7159L105.596 27.2728L105.703 27.4858C106.342 28.7429 107.237 29.6165 108.75 30.3622C110.731 31.4489 113.16 32.0668 115.568 32.0668C115.738 32.0668 115.909 32.0668 116.079 32.0668C120.809 31.8963 123.537 30.2344 125.475 26.3139C126.733 23.7571 126.733 19.6662 126.733 15.3409L126.456 5.71027ZM119.403 17.9404C118.466 18.9205 117.145 19.4745 115.76 19.4745C112.883 19.4745 110.88 17.6208 110.88 14.9361C110.88 12.2728 112.883 10.3978 115.76 10.3978C118.764 10.3978 120.49 12.7415 120.596 14.9361C120.66 16.0228 120.213 17.1094 119.403 17.9404Z"
						fill="#FEFEFE"></path>
					<path
						d="M139.175 5.2627C132.89 5.2627 128.309 9.54536 128.309 15.4473C128.309 21.3493 132.868 25.632 139.175 25.632C145.439 25.632 149.999 21.3493 149.999 15.4473C150.02 9.54536 145.461 5.2627 139.175 5.2627ZM139.175 20.4757C136.405 20.4757 134.551 18.4516 134.551 15.4473C134.551 12.4431 136.405 10.4189 139.175 10.4189C141.924 10.4189 143.777 12.4431 143.777 15.4473C143.777 18.4516 141.924 20.4757 139.175 20.4757Z"
						fill="#FEFEFE"></path>
					<path
						d="M18.9418 2.47158C17.0028 0.852267 14.2543 0 10.9517 0H0V25.1846H6.28551V18.5369V18.4091H6.41335H10.9517C14.2543 18.4091 17.0028 17.5568 18.9418 15.9588C20.902 14.3395 21.9247 12.017 21.9247 9.22584C21.9247 6.43465 20.902 4.0909 18.9418 2.47158ZM13.9347 12.4432C13.125 12.9332 12.017 13.1889 10.6321 13.1889H6.41335H6.28551V13.0611V5.348V5.22017H6.41335H10.6321C11.9957 5.22017 13.1037 5.47585 13.9347 5.9659C15.0213 6.62642 15.5753 7.71306 15.5753 9.20454C15.5753 10.696 15.0213 11.7827 13.9347 12.4432Z"
						fill="#FEFEFE"></path>
					<path
						d="M36.5827 5.45459V11.1222L36.0288 11.0796C35.6878 11.0583 35.3895 11.037 35.0486 11.037C33.7276 11.037 32.6623 11.3566 31.8739 11.9745C30.8299 12.8054 30.3185 14.1478 30.3185 16.0015V25.206H24.2461V5.73159H30.0842V7.41482V7.6918L30.2759 7.50005C31.6822 6.15772 33.7489 5.45459 36.2844 5.45459H36.5827Z"
						fill="#FEFEFE"></path>
					<path
						d="M45.1935 5.73145V25.2059H39.1211V5.73145H45.1935Z"
						fill="#FEFEFE"></path>
					<path
						d="M73.1259 5.45471C75.5122 5.45471 77.5151 6.17915 78.8787 7.56409C80.3702 9.05557 81.1372 11.2715 81.1372 14.1053V25.2061H75.0648V14.9362C75.0648 13.5726 74.7878 12.5286 74.2338 11.8255C73.6798 11.1223 72.8489 10.7601 71.7622 10.7601C69.2693 10.7601 67.8844 12.422 67.8844 15.405V25.1848H61.8333V14.9149C61.8333 13.5087 61.5776 12.486 61.0236 11.8042C60.4696 11.101 59.6387 10.7601 58.552 10.7601C56.0804 10.7601 54.6955 12.422 54.6955 15.405V25.1848H48.623V5.7104H54.4398V7.18057V7.43626L54.6316 7.26579C56.0378 6.0513 57.9341 5.41211 60.0648 5.41211C62.6642 5.41211 64.8588 6.39222 66.2225 8.18199L66.3077 8.28853L66.3929 8.18199C68.0122 6.45614 70.4625 5.45471 73.1259 5.45471Z"
						fill="#FEFEFE"></path>
				</svg>
				<svg  class="mobile-logo" role="presentation" width="50" height="43" viewBox="0 0 50 43" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M22.7533 12.1294L40.0358 12.146C41.4348 12.146 42.5541 10.9983 42.5541 9.60096C42.5541 8.18704 41.4184 7.05589 40.0358 7.05589H22.7533V12.1294ZM15.758 43.0029H42.2907V22.5592H27.1644L27.2303 29.6954H35.5094V35.8501L15.8238 35.8002C11.2974 35.8002 7.62697 32.0907 7.62697 27.5162C7.62697 22.9418 11.2974 19.2323 15.8238 19.2988V29.6954H22.8191V19.2157H40.0029C45.2534 19.2157 49.5 14.9073 49.5 9.6176C49.5 4.31121 45.237 0.0195312 40.0029 0.0195312H15.8238L15.7909 12.1294C7.3307 12.1793 0.5 19.0826 0.5 27.5828C0.5 36.0996 7.3307 43.0029 15.758 43.0029Z" fill="currentColor"/>
				</svg>
			</a>
		</div>

		<ul class="social-list" aria-label="Соцсети">
			<!-- <li class="social-list__item">
				<a
					href=""
					class="social-list__link"
					target="_blank"
					rel="nofollow noopener"
					title="Youtube"
				>
					<span class="sr-only" lang="en">Youtube</span>
					<svg role="presentation" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M22.5396 6.42C22.4208 5.94541 22.1789 5.51057 21.8382 5.15941C21.4976 4.80824 21.0703 4.55318 20.5996 4.42C18.8796 4 11.9996 4 11.9996 4C11.9996 4 5.1196 4 3.3996 4.46C2.92884 4.59318 2.50157 4.84824 2.16094 5.19941C1.82031 5.55057 1.57838 5.98541 1.4596 6.46C1.14481 8.20556 0.990831 9.97631 0.999595 11.75C0.988374 13.537 1.14236 15.3213 1.4596 17.08C1.59055 17.5398 1.8379 17.9581 2.17774 18.2945C2.51758 18.6308 2.93842 18.8738 3.3996 19C5.1196 19.46 11.9996 19.46 11.9996 19.46C11.9996 19.46 18.8796 19.46 20.5996 19C21.0703 18.8668 21.4976 18.6118 21.8382 18.2606C22.1789 17.9094 22.4208 17.4746 22.5396 17C22.852 15.2676 23.0059 13.5103 22.9996 11.75C23.0108 9.96295 22.8568 8.1787 22.5396 6.42Z" fill="white"/>
						<path d="M9.75 15.0205L15.5 11.7505L9.75 8.48047V15.0205Z" fill="#050611"/>
					</svg>
				</a>
			</li> -->
			<li class="social-list__item">
				<a
					href="https://www.instagram.com/prim.ego/"
					class="social-list__link"
					target="_blank"
					rel="nofollow noopener"
					title="Instagram"
				>
					<span class="sr-only" lang="en">Instagram</span>
					<svg role="presentation" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M17 2H7C4.23858 2 2 4.23858 2 7V17C2 19.7614 4.23858 22 7 22H17C19.7614 22 22 19.7614 22 17V7C22 4.23858 19.7614 2 17 2Z" fill="white"/>
						<path d="M15.9997 11.3703C16.1231 12.2025 15.981 13.0525 15.5935 13.7993C15.206 14.5461 14.5929 15.1517 13.8413 15.53C13.0898 15.9082 12.2382 16.0399 11.4075 15.9062C10.5768 15.7726 9.80947 15.3804 9.21455 14.7855C8.61962 14.1905 8.22744 13.4232 8.09377 12.5925C7.96011 11.7619 8.09177 10.9102 8.47003 10.1587C8.84829 9.40716 9.45389 8.79404 10.2007 8.40654C10.9475 8.01904 11.7975 7.87689 12.6297 8.0003C13.4786 8.12619 14.2646 8.52176 14.8714 9.12861C15.4782 9.73545 15.8738 10.5214 15.9997 11.3703Z" fill="#050611" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M17.5 6.5H17.51" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
				</a>
			</li>
			<li class="social-list__item">
				<a
					href="https://vk.com/primego.online"
					class="social-list__link"
					target="_blank"
					rel="nofollow noopener"
					title="Vkontakte"
				>
					<span class="sr-only" lang="en">Vkontakte</span>
					<svg role="presentation" width="21" height="25" viewBox="0 0 21 25" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M20.003 18.3804H17.722C16.859 18.3804 16.599 17.6814 15.052 16.1334C13.7 14.8304 13.129 14.6684 12.787 14.6684C12.314 14.6684 12.185 14.7984 12.185 15.4494V17.5014C12.185 18.0564 12.005 18.3814 10.555 18.3814C9.14829 18.2869 7.78416 17.8595 6.57497 17.1345C5.36578 16.4095 4.34612 15.4076 3.6 14.2114C1.82839 12.0064 0.595707 9.41844 0 6.65336C0 6.31136 0.13 6.00136 0.782 6.00136H3.062C3.648 6.00136 3.859 6.26236 4.089 6.86536C5.196 10.1234 7.085 12.9574 7.852 12.9574C8.146 12.9574 8.274 12.8274 8.274 12.0944V8.73836C8.177 7.20736 7.364 7.07836 7.364 6.52436C7.37428 6.3782 7.44114 6.24181 7.55037 6.14415C7.65961 6.04649 7.80261 5.99527 7.949 6.00136H11.533C12.023 6.00136 12.185 6.24536 12.185 6.83136V11.3614C12.185 11.8504 12.395 12.0124 12.543 12.0124C12.837 12.0124 13.063 11.8504 13.602 11.3124C14.7574 9.90334 15.7013 8.33352 16.404 6.65236C16.4759 6.45051 16.6119 6.27773 16.7912 6.16037C16.9705 6.04302 17.1832 5.98752 17.397 6.00236H19.678C20.362 6.00236 20.507 6.34436 20.362 6.83236C19.5324 8.69077 18.5058 10.4549 17.3 12.0944C17.054 12.4694 16.956 12.6644 17.3 13.1044C17.526 13.4464 18.326 14.1144 18.863 14.7494C19.645 15.5294 20.294 16.4314 20.785 17.4194C20.981 18.0554 20.654 18.3804 20.003 18.3804Z" fill="white"/>
					</svg>
				</a>
			</li>
		</ul>
	</div>
	<div class="top-bar__cell top-bar__cell_2">
		<svg class="logo-icon" role="presentation" width="50" height="43" viewBox="0 0 50 43" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path fill-rule="evenodd" clip-rule="evenodd" d="M22.7533 12.1294L40.0358 12.146C41.4348 12.146 42.5541 10.9983 42.5541 9.60096C42.5541 8.18704 41.4184 7.05589 40.0358 7.05589H22.7533V12.1294ZM15.758 43.0029H42.2907V22.5592H27.1644L27.2303 29.6954H35.5094V35.8501L15.8238 35.8002C11.2974 35.8002 7.62697 32.0907 7.62697 27.5162C7.62697 22.9418 11.2974 19.2323 15.8238 19.2988V29.6954H22.8191V19.2157H40.0029C45.2534 19.2157 49.5 14.9073 49.5 9.6176C49.5 4.31121 45.237 0.0195312 40.0029 0.0195312H15.8238L15.7909 12.1294C7.3307 12.1793 0.5 19.0826 0.5 27.5828C0.5 36.0996 7.3307 43.0029 15.758 43.0029Z" fill="currentColor"/>
		</svg>
	</div>
	<div class="top-bar__cell top-bar__cell_3">
		<slot></slot>
	</div>
</div>

<style lang="scss">
	.header {
		background-color: var(--color-black);
		min-height: auto;
	}
	.top-bar {
		min-height: var(--header-height);
		display: flex;
		align-items: flex-end;
	}
	.top-bar_in-footer {
		margin-bottom: var(--30px);
	}
	.top-bar__cell {
		display: flex;
		align-items: center;
	}
	.top-bar__cell_1,
	.top-bar__cell_3 {
		flex-grow: 1;
		flex-basis: 50%;
	}
	.top-bar__cell_3 {
		justify-content: flex-end;
		align-self: flex-start;
	}
	.logo-block {
		display: flex;
	}
	.back-button {
		display: none;
	}
	.logo {
		width: calc(var(--1px) * 150);
		height: calc(var(--1px) * 32);
	}
	.logo-icon {
		width: calc(var(--1px) * 62);
		height: calc(var(--1px) * 40);
		color: var(--color-product);
	}
	.social-list {
		margin: 0;
		padding: 0;
		display: flex;
		flex-grow: 1;
		justify-content: center;
		align-items: center;
	}
	.social-list__item {
		margin: 0;
		padding-right: calc(var(--1px) * 50);
		list-style-type: none;
	}
	.social-list__link {
		display: block;
		opacity: 0.7;
		&:hover,
		&:focus {
			opacity: 1;
		}
		svg {
			width: calc(var(--1px) * 24);
			height: calc(var(--1px) * 24);
			display: block;
		}
	}
	.mobile-logo {
		display: none;
		height: calc(var(--1px)*50);
		width: calc(var(--1px)*66);
		color: var(--color-product);
	}
	@media screen and (max-width: 1023px) {
		.back-button {
			display: block;
			margin-right: var(--15px);
		}
		.logo {
			display: none;
		}
		.mobile-logo {
			display: block;
			height: calc(var(--1px)* 18);
    		width: calc(var(--1px)* 22);
		}
		.top-bar {
			align-items: center;
		}
		.top-bar__cell_2,
		.social-list {
			display: none;
		}
		// .top-bar__cell_2,
		// .top-bar__cell_3 {
		// 	display: none;
		// }

		.top-bar_in-footer {
			margin-bottom: var(--30px);
			flex-direction: column;
			gap: var(--15px);
			.top-bar__cell {
				flex-basis: auto;
				width: 100%;
				justify-content: space-between;
			}
			.top-bar__cell_3 {
				display: flex;
			}
			.back-button {
				display: none;
			}
			.social-list {
				display: flex;
			}
			.social-list__item {
				padding-left: 0;
				padding-right: var(--15px);
			}
			.social-list {
				justify-content: end;
			}
		}
	}
</style>