---
const {
  	class: className,
	isHome = false,
} = Astro.props;
---

<div class:list={["top-bar", className]}>
	<div class="top-bar__cell top-bar__cell_1">
		<a href="/" aria-label="На главную" class="back-button" hidden={isHome}>
			<svg role="presentation" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M19 12H5" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M12 19L5 12L12 5" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
			</svg>
		</a>
		<div class="logo-block">
			<a href="/" aria-label="На главную">
				<svg
					class="logo"
					role="presentation"
					width="150"
					height="33"
					viewBox="0 0 150 33"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						d="M103.507 15.5751L103.741 15.5325V15.2982C103.72 12.3365 102.697 9.82231 100.759 8.03254C98.9474 6.37061 96.4332 5.43311 93.6847 5.43311C87.6548 5.43311 83.2656 9.65185 83.2656 15.4686C83.2656 21.3706 87.8253 25.5041 94.3452 25.5041C97.8395 25.5041 100.524 24.4388 102.378 22.3507L102.548 22.1589L99.2457 18.5368L99.0327 18.7499C97.7542 19.9643 96.348 20.497 94.4943 20.497C92.598 20.497 91.1918 19.943 90.3182 18.8138L90.2116 18.6646L90.3821 18.622C92.0866 18.1533 98.3935 16.7044 103.507 15.5751ZM89.4233 14.4672L89.2528 14.5098L89.2741 14.3393C89.402 13.0396 89.892 11.9956 90.6378 11.2712C91.4048 10.5467 92.4489 10.1632 93.6847 10.1632C95.4957 10.1632 96.7528 10.909 97.5412 12.443L97.6051 12.5709L97.456 12.6135C96.1349 12.9331 92.2997 13.8067 89.4233 14.4672Z"
						fill="#FEFEFE"></path>
					<path
						d="M126.456 5.71027H120.916V7.07391V7.30828L120.724 7.18044C119.382 6.22163 117.549 5.73158 114.95 5.68896C114.865 5.68896 114.779 5.68896 114.694 5.68896C111.988 5.68896 109.559 6.62646 107.812 8.331C106.108 10.0142 105.191 12.2728 105.191 14.8722C105.191 20.3267 109.282 24.3111 114.929 24.3111C116.654 24.3111 118.849 24.1407 120.511 22.8836L120.724 22.7131L120.703 22.9901C120.639 23.6506 120.447 24.6094 119.829 25.4191C118.87 26.6549 117.208 27.358 115.27 27.358C114.993 27.358 114.694 27.3367 114.396 27.3154C112.777 27.1449 111.243 26.6122 109.836 25.7174L109.794 25.696V25.6747L109.666 25.5895C109.645 25.5895 109.325 25.3551 108.877 24.9077L108.686 24.7159L105.596 27.2728L105.703 27.4858C106.342 28.7429 107.237 29.6165 108.75 30.3622C110.731 31.4489 113.16 32.0668 115.568 32.0668C115.738 32.0668 115.909 32.0668 116.079 32.0668C120.809 31.8963 123.537 30.2344 125.475 26.3139C126.733 23.7571 126.733 19.6662 126.733 15.3409L126.456 5.71027ZM119.403 17.9404C118.466 18.9205 117.145 19.4745 115.76 19.4745C112.883 19.4745 110.88 17.6208 110.88 14.9361C110.88 12.2728 112.883 10.3978 115.76 10.3978C118.764 10.3978 120.49 12.7415 120.596 14.9361C120.66 16.0228 120.213 17.1094 119.403 17.9404Z"
						fill="#FEFEFE"></path>
					<path
						d="M139.175 5.2627C132.89 5.2627 128.309 9.54536 128.309 15.4473C128.309 21.3493 132.868 25.632 139.175 25.632C145.439 25.632 149.999 21.3493 149.999 15.4473C150.02 9.54536 145.461 5.2627 139.175 5.2627ZM139.175 20.4757C136.405 20.4757 134.551 18.4516 134.551 15.4473C134.551 12.4431 136.405 10.4189 139.175 10.4189C141.924 10.4189 143.777 12.4431 143.777 15.4473C143.777 18.4516 141.924 20.4757 139.175 20.4757Z"
						fill="#FEFEFE"></path>
					<path
						d="M18.9418 2.47158C17.0028 0.852267 14.2543 0 10.9517 0H0V25.1846H6.28551V18.5369V18.4091H6.41335H10.9517C14.2543 18.4091 17.0028 17.5568 18.9418 15.9588C20.902 14.3395 21.9247 12.017 21.9247 9.22584C21.9247 6.43465 20.902 4.0909 18.9418 2.47158ZM13.9347 12.4432C13.125 12.9332 12.017 13.1889 10.6321 13.1889H6.41335H6.28551V13.0611V5.348V5.22017H6.41335H10.6321C11.9957 5.22017 13.1037 5.47585 13.9347 5.9659C15.0213 6.62642 15.5753 7.71306 15.5753 9.20454C15.5753 10.696 15.0213 11.7827 13.9347 12.4432Z"
						fill="#FEFEFE"></path>
					<path
						d="M36.5827 5.45459V11.1222L36.0288 11.0796C35.6878 11.0583 35.3895 11.037 35.0486 11.037C33.7276 11.037 32.6623 11.3566 31.8739 11.9745C30.8299 12.8054 30.3185 14.1478 30.3185 16.0015V25.206H24.2461V5.73159H30.0842V7.41482V7.6918L30.2759 7.50005C31.6822 6.15772 33.7489 5.45459 36.2844 5.45459H36.5827Z"
						fill="#FEFEFE"></path>
					<path
						d="M45.1935 5.73145V25.2059H39.1211V5.73145H45.1935Z"
						fill="#FEFEFE"></path>
					<path
						d="M73.1259 5.45471C75.5122 5.45471 77.5151 6.17915 78.8787 7.56409C80.3702 9.05557 81.1372 11.2715 81.1372 14.1053V25.2061H75.0648V14.9362C75.0648 13.5726 74.7878 12.5286 74.2338 11.8255C73.6798 11.1223 72.8489 10.7601 71.7622 10.7601C69.2693 10.7601 67.8844 12.422 67.8844 15.405V25.1848H61.8333V14.9149C61.8333 13.5087 61.5776 12.486 61.0236 11.8042C60.4696 11.101 59.6387 10.7601 58.552 10.7601C56.0804 10.7601 54.6955 12.422 54.6955 15.405V25.1848H48.623V5.7104H54.4398V7.18057V7.43626L54.6316 7.26579C56.0378 6.0513 57.9341 5.41211 60.0648 5.41211C62.6642 5.41211 64.8588 6.39222 66.2225 8.18199L66.3077 8.28853L66.3929 8.18199C68.0122 6.45614 70.4625 5.45471 73.1259 5.45471Z"
						fill="#FEFEFE"></path>
				</svg>
				<svg class="mobile-logo" role="presentation" width="98" height="18" viewBox="0 0 98 18" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M0.0460271 14.7491L15.4619 0.0404489C15.5738 -0.0647576 15.7456 0.0525882 15.6977 0.194212L13.2482 7.13379C13.2123 7.23495 13.2882 7.34016 13.3921 7.34016L22.6744 7.30779C22.8262 7.30779 22.8742 7.51011 22.7423 7.58294L15.1343 11.6455C15.0184 11.7062 15.0304 11.8762 15.1462 11.9247L21.9471 14.7168C22.095 14.7774 22.051 14.996 21.8912 14.996L0.145923 15C0.0140605 15 -0.0498727 14.8422 0.0460271 14.7491Z" fill="currentColor"/>
					<path d="M75.6301 10.2851L75.7384 10.2652V10.1555C75.7285 8.77017 75.2561 7.59412 74.3605 6.75693C73.524 5.97954 72.3626 5.54102 71.093 5.54102C68.3077 5.54102 66.2803 7.51439 66.2803 10.2352C66.2803 12.996 68.3865 14.9295 71.3981 14.9295C73.0122 14.9295 74.2523 14.4312 75.1085 13.4544L75.1872 13.3647L73.6617 11.6704L73.5633 11.7701C72.9728 12.3382 72.3232 12.5874 71.467 12.5874C70.591 12.5874 69.9415 12.3282 69.538 11.8L69.4888 11.7302L69.5675 11.7103C70.3548 11.491 73.2681 10.8133 75.6301 10.2851ZM69.1246 9.76683L69.0459 9.78676L69.0557 9.70702C69.1148 9.09907 69.3411 8.61071 69.6856 8.27185C70.0399 7.93299 70.5222 7.75359 71.093 7.75359C71.9296 7.75359 72.5102 8.10242 72.8744 8.82001L72.9039 8.8798L72.835 8.89974C72.2248 9.04924 70.4533 9.45786 69.1246 9.76683Z" fill="#FEFEFE"/>
					<path d="M86.2305 5.67207H83.6716V6.30993V6.41956L83.583 6.35977C82.9629 5.91127 82.1165 5.68204 80.9158 5.66211C80.8764 5.66211 80.8371 5.66211 80.7977 5.66211C79.5478 5.66211 78.4258 6.10063 77.6188 6.89796C76.8314 7.68531 76.4082 8.74176 76.4082 9.95768C76.4082 12.5091 78.2979 14.3729 80.906 14.3729C81.7032 14.3729 82.7169 14.2931 83.4846 13.7051L83.583 13.6254L83.5731 13.7549C83.5436 14.0639 83.455 14.5124 83.1696 14.8911C82.7267 15.4692 81.9591 15.7981 81.0634 15.7981C80.9355 15.7981 80.7977 15.7881 80.6599 15.7781C79.9119 15.6984 79.2033 15.4492 78.5537 15.0306L78.5341 15.0207V15.0107L78.475 14.9708C78.4652 14.9708 78.3175 14.8612 78.1109 14.6519L78.0223 14.5622L76.5952 15.7582L76.6444 15.8579C76.9397 16.4459 77.353 16.8545 78.0518 17.2034C78.9671 17.7116 80.0891 18.0007 81.2012 18.0007C81.28 18.0007 81.3587 18.0007 81.4374 18.0007C83.6223 17.9209 84.8821 17.1436 85.7777 15.3097C86.3584 14.1137 86.3584 12.2002 86.3584 10.1769L86.2305 5.67207ZM82.9728 11.3929C82.5397 11.8513 81.9295 12.1105 81.2898 12.1105C79.9611 12.1105 79.036 11.2434 79.036 9.98758C79.036 8.74176 79.9611 7.86471 81.2898 7.86471C82.6775 7.86471 83.4747 8.96103 83.5239 9.98758C83.5535 10.4959 83.3468 11.0042 82.9728 11.3929Z" fill="#FEFEFE"/>
					<path d="M92.1053 5.46289C89.202 5.46289 87.0859 7.46616 87.0859 10.2269C87.0859 12.9876 89.1921 14.9909 92.1053 14.9909C94.9989 14.9909 97.105 12.9876 97.105 10.2269C97.1149 7.46616 95.0087 5.46289 92.1053 5.46289ZM92.1053 12.579C90.8259 12.579 89.9696 11.6322 89.9696 10.2269C89.9696 8.82161 90.8259 7.87479 92.1053 7.87479C93.3749 7.87479 94.2312 8.82161 94.2312 10.2269C94.2312 11.6322 93.3749 12.579 92.1053 12.579Z" fill="#FEFEFE"/>
					<path d="M36.5679 4.15611C35.6722 3.39866 34.4026 3 32.8771 3H27.8184V14.7804H30.7217V11.6709V11.6111H30.7808H32.8771C34.4026 11.6111 35.6722 11.2124 36.5679 10.4649C37.4733 9.70748 37.9457 8.62112 37.9457 7.31551C37.9457 6.00989 37.4733 4.91357 36.5679 4.15611ZM34.255 8.82046C33.881 9.04969 33.3692 9.16928 32.7295 9.16928H30.7808H30.7217V9.10948V5.5016V5.4418H30.7808H32.7295C33.3594 5.4418 33.8712 5.5614 34.255 5.79063C34.7569 6.09959 35.0128 6.60788 35.0128 7.30554C35.0128 8.0032 34.7569 8.51149 34.255 8.82046Z" fill="#FEFEFE"/>
					<path d="M44.7161 5.55078V8.20188L44.4602 8.18195C44.3027 8.17198 44.1649 8.16201 44.0074 8.16201C43.3972 8.16201 42.9051 8.31151 42.541 8.60054C42.0587 8.98924 41.8225 9.61713 41.8225 10.4842V14.7898H39.0176V5.68035H41.7143V6.4677V6.59727L41.8028 6.50757C42.4524 5.87968 43.4071 5.55078 44.5783 5.55078H44.7161Z" fill="#FEFEFE"/>
					<path d="M48.6936 5.68164V14.791H45.8887V5.68164H48.6936Z" fill="#FEFEFE"/>
					<path d="M61.5966 5.55118C62.6989 5.55118 63.624 5.89004 64.2539 6.53787C64.9428 7.23552 65.2971 8.27204 65.2971 9.59759V14.7902H62.4922V9.98628C62.4922 9.34843 62.3642 8.86007 62.1083 8.53117C61.8525 8.20228 61.4686 8.03285 60.9667 8.03285C59.8152 8.03285 59.1754 8.81024 59.1754 10.2055V14.7802H56.3803V9.97632C56.3803 9.31853 56.2622 8.84014 56.0063 8.52121C55.7504 8.19231 55.3666 8.03285 54.8647 8.03285C53.723 8.03285 53.0833 8.81024 53.0833 10.2055V14.7802H50.2783V5.67078H52.9652V6.35847V6.47807L53.0538 6.39833C53.7033 5.83024 54.5793 5.53125 55.5634 5.53125C56.7642 5.53125 57.7779 5.98971 58.4078 6.8269L58.4471 6.87673L58.4865 6.8269C59.2345 6.01961 60.3663 5.55118 61.5966 5.55118Z" fill="#FEFEFE"/>
				</svg>
			</a>
		</div>

		<ul class="social-list" aria-label="Соцсети">
			<li class="social-list__item">
				<a
					href=""
					class="social-list__link"
					target="_blank"
					title="Youtube"
				>
					<span class="sr-only" lang="en">Youtube</span>
					<svg role="presentation" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M22.5396 6.42C22.4208 5.94541 22.1789 5.51057 21.8382 5.15941C21.4976 4.80824 21.0703 4.55318 20.5996 4.42C18.8796 4 11.9996 4 11.9996 4C11.9996 4 5.1196 4 3.3996 4.46C2.92884 4.59318 2.50157 4.84824 2.16094 5.19941C1.82031 5.55057 1.57838 5.98541 1.4596 6.46C1.14481 8.20556 0.990831 9.97631 0.999595 11.75C0.988374 13.537 1.14236 15.3213 1.4596 17.08C1.59055 17.5398 1.8379 17.9581 2.17774 18.2945C2.51758 18.6308 2.93842 18.8738 3.3996 19C5.1196 19.46 11.9996 19.46 11.9996 19.46C11.9996 19.46 18.8796 19.46 20.5996 19C21.0703 18.8668 21.4976 18.6118 21.8382 18.2606C22.1789 17.9094 22.4208 17.4746 22.5396 17C22.852 15.2676 23.0059 13.5103 22.9996 11.75C23.0108 9.96295 22.8568 8.1787 22.5396 6.42Z" fill="white"/>
						<path d="M9.75 15.0205L15.5 11.7505L9.75 8.48047V15.0205Z" fill="#050611"/>
					</svg>
				</a>
			</li>
			<li class="social-list__item">
				<a
					href=""
					class="social-list__link"
					target="_blank"
					title="Instagram"
				>
					<span class="sr-only" lang="en">Instagram</span>
					<svg role="presentation" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M17 2H7C4.23858 2 2 4.23858 2 7V17C2 19.7614 4.23858 22 7 22H17C19.7614 22 22 19.7614 22 17V7C22 4.23858 19.7614 2 17 2Z" fill="white"/>
						<path d="M15.9997 11.3703C16.1231 12.2025 15.981 13.0525 15.5935 13.7993C15.206 14.5461 14.5929 15.1517 13.8413 15.53C13.0898 15.9082 12.2382 16.0399 11.4075 15.9062C10.5768 15.7726 9.80947 15.3804 9.21455 14.7855C8.61962 14.1905 8.22744 13.4232 8.09377 12.5925C7.96011 11.7619 8.09177 10.9102 8.47003 10.1587C8.84829 9.40716 9.45389 8.79404 10.2007 8.40654C10.9475 8.01904 11.7975 7.87689 12.6297 8.0003C13.4786 8.12619 14.2646 8.52176 14.8714 9.12861C15.4782 9.73545 15.8738 10.5214 15.9997 11.3703Z" fill="#050611" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M17.5 6.5H17.51" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
				</a>
			</li>
			<li class="social-list__item">
				<a
					href=""
					class="social-list__link"
					target="_blank"
					title="Vkontakte"
				>
					<span class="sr-only" lang="en">Vkontakte</span>
					<svg role="presentation" width="21" height="25" viewBox="0 0 21 25" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M20.003 18.3804H17.722C16.859 18.3804 16.599 17.6814 15.052 16.1334C13.7 14.8304 13.129 14.6684 12.787 14.6684C12.314 14.6684 12.185 14.7984 12.185 15.4494V17.5014C12.185 18.0564 12.005 18.3814 10.555 18.3814C9.14829 18.2869 7.78416 17.8595 6.57497 17.1345C5.36578 16.4095 4.34612 15.4076 3.6 14.2114C1.82839 12.0064 0.595707 9.41844 0 6.65336C0 6.31136 0.13 6.00136 0.782 6.00136H3.062C3.648 6.00136 3.859 6.26236 4.089 6.86536C5.196 10.1234 7.085 12.9574 7.852 12.9574C8.146 12.9574 8.274 12.8274 8.274 12.0944V8.73836C8.177 7.20736 7.364 7.07836 7.364 6.52436C7.37428 6.3782 7.44114 6.24181 7.55037 6.14415C7.65961 6.04649 7.80261 5.99527 7.949 6.00136H11.533C12.023 6.00136 12.185 6.24536 12.185 6.83136V11.3614C12.185 11.8504 12.395 12.0124 12.543 12.0124C12.837 12.0124 13.063 11.8504 13.602 11.3124C14.7574 9.90334 15.7013 8.33352 16.404 6.65236C16.4759 6.45051 16.6119 6.27773 16.7912 6.16037C16.9705 6.04302 17.1832 5.98752 17.397 6.00236H19.678C20.362 6.00236 20.507 6.34436 20.362 6.83236C19.5324 8.69077 18.5058 10.4549 17.3 12.0944C17.054 12.4694 16.956 12.6644 17.3 13.1044C17.526 13.4464 18.326 14.1144 18.863 14.7494C19.645 15.5294 20.294 16.4314 20.785 17.4194C20.981 18.0554 20.654 18.3804 20.003 18.3804Z" fill="white"/>
					</svg>
				</a>
			</li>
		</ul>
	</div>
	<div class="top-bar__cell top-bar__cell_2">
		<svg
			class="logo-icon"
			role="presentation"
			width="62"
			height="40"
			viewBox="0 0 62 40"
			fill="none"
			xmlns="http://www.w3.org/2000/svg"
		>
			<path
				d="M0.124293 39.331L41.7537 0.107864C42.0558 -0.172687 42.5198 0.140235 42.3903 0.517899L35.7758 19.0234C35.6787 19.2932 35.8837 19.5738 36.1643 19.5738L61.2304 19.4874C61.6404 19.4874 61.7699 20.027 61.4138 20.2212L40.8689 31.0548C40.556 31.2166 40.5883 31.6698 40.9012 31.7993L59.2665 39.2447C59.6658 39.4065 59.5471 39.9892 59.1154 39.9892L0.394053 40C0.0379693 40 -0.134677 39.5792 0.124293 39.331Z"
				fill="currentColor"></path>
		</svg>
	</div>
	<div class="top-bar__cell top-bar__cell_3">
		<slot></slot>
	</div>
</div>

<style lang="scss">
	.header {
		background-color: var(--color-black);
		min-height: auto;
	}
	.top-bar {
		min-height: var(--header-height);
		display: flex;
		align-items: flex-end;
	}
	.top-bar_in-footer {
		margin-bottom: var(--30px);
	}
	.top-bar__cell {
		display: flex;
		align-items: center;
	}
	.top-bar__cell_1,
	.top-bar__cell_3 {
		flex-grow: 1;
		flex-basis: 50%;
	}
	.top-bar__cell_3 {
		justify-content: flex-end;
		align-self: flex-start;
	}
	.logo-block {
		display: flex;
	}
	.back-button {
		display: none;
	}
	.logo {
		width: calc(var(--1px) * 150);
		height: calc(var(--1px) * 32);
	}
	.logo-icon {
		width: calc(var(--1px) * 62);
		height: calc(var(--1px) * 40);
		color: var(--color-product);
	}
	.social-list {
		margin: 0;
		padding: 0;
		display: flex;
		flex-grow: 1;
		justify-content: center;
		align-items: center;
	}
	.social-list__item {
		margin: 0;
		padding-right: calc(var(--1px) * 50);
		list-style-type: none;
	}
	.social-list__link {
		display: block;
		opacity: 0.7;
		&:hover,
		&:focus {
			opacity: 1;
		}
		svg {
			width: calc(var(--1px) * 24);
			height: calc(var(--1px) * 24);
			display: block;
		}
	}
	.mobile-logo {
		display: none;
		height: calc(var(--1px)*50);
		width: calc(var(--1px)*66);
		color: var(--color-product);
	}
	@media screen and (max-width: 1023px) {
		.back-button {
			display: block;
			margin-right: var(--15px);
		}
		.logo {
			display: none;
		}
		.mobile-logo {
			display: block;
			height: calc(var(--1px)* 18);
    		width: calc(var(--1px)* 98);
		}
		.top-bar {
			align-items: center;
		}
		.top-bar__cell_2,
		.social-list {
			display: none;
		}
		// .top-bar__cell_2,
		// .top-bar__cell_3 {
		// 	display: none;
		// }

		.top-bar_in-footer {
			margin-bottom: var(--30px);
			flex-direction: column;
			gap: var(--15px);
			.top-bar__cell {
				flex-basis: auto;
				width: 100%;
				justify-content: space-between;
			}
			.top-bar__cell_3 {
				display: flex;
			}
			.back-button {
				display: none;
			}
			.social-list {
				display: flex;
			}
			.social-list__item {
				padding-left: 0;
				padding-right: var(--15px);
			}
			.social-list {
				justify-content: end;
			}
		}
	}
</style>