---
import Group from '../../components/ui/Group.astro';
import StarTrekText from '../../components/ui/StarTrekText.astro';
import Warning from '../../components/ui/Warning.astro';
import Layout from '../../layouts/Layout.astro';
import BackButton from '../../components/ui/BackButton.astro';
import { productOptMap } from '../../utils/product-list';

export function getStaticPaths() {
    return [
        {
            params: { product: 'empire' },
            props: { sku: 'EM24' },
        },
        {
            params: { product: 'royal' },
            props: { sku: 'RL24' },
        },
    ];
}

const { sku } = Astro.props;

const productOptions = productOptMap[sku];
---

<Layout title="Primego | Примерочная">
    <Group as="main" class="mainGroup">
        <section class="left">
            <BackButton href="./../" class="backButton" />
            <header>
                <span class="subtitle">Лимитированная коллекция</span>
                <StarTrekText as="h1" class:list={['title', { empire: sku === 'EM24', royal: sku === 'RL24' }]}>
                    {productOptions.name}
                </StarTrekText>
            </header>
            <Warning
                >Внимание! В каждой коллекции собственный размерный ряд. Используйте калькулятор ниже для подбора размера.</Warning
            >
        </section>
    </Group>
</Layout>

<style lang="scss">
    .mainGroup {
        background-color: var(--color-bg-disabled);
    }

    .backButton {
        margin-top: 0;
    }

    .title {
        font-size: calc(var(--1px) * 128);
        margin: var(--15px) 0 var(--30px);

        &.empire {
            color: var(--color-product-empire);
        }

        &.royal {
            color: var(--color-product-royal);
        }
    }

    .subtitle {
        color: var(--color-gray);
        font-weight: 600;
    }
</style>
