---
import Layout from "../layouts/Layout.astro";
import StarTrekText from "../components/ui/StarTrekText.astro";
import Button from "../components/ui/Button.astro";
---

<Layout>
	<main>

		<StarTrekText as="span" class="bg-h1" aria-hidden="true">
			Primego
		</StarTrekText>

		<article>
			<StarTrekText as="h1">
				H1. <br />
				Вертикальные отступы
			</StarTrekText>
			<blockquote>
				<h5>H5. Закон Хика</h5>
				<h5>H5. Закон Хика</h5>
			</blockquote>
			<p>
				Если разобрать макет или страницу сайта по элементам
				и посмотреть на вертикальные отступы между ними, вырисовываются
				закономерности. Разных по высоте вертикальных отступов не так
				уж и много на отдельно взятом сайте. Например, на главной
				Яндекса их всего 4. На странице продукта Apple — 8.
			</p>
			<Button>Label</Button>
			<h2>H2. Как устроена система</h2>
			<p>
				Все элементы страницы группируются в блоки. Блоки выстраиваются
				по правилам, которые придумал дизайнер. Вертикальные отступы
				разделены по уровням. Первый уровень — самый невысокий отступ.
				Пример: Отступ вторго уровня(16px), ставлю между двумя кнопками
				или заголовком h3 и параграфом. Отступ шестого уровня(48px)
				отбивает два таких блока. И так далее.
			</p>
			<Button>Label</Button>
			<br>
			<br>
			<Button class="button_ticket">
				&emsp;&emsp;
				<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M12 5V19" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M5 12H19" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
				</svg>
				&thinsp;
				Label
				&emsp;&emsp;
			</Button>
			<h3>
				H3. Закон Хика и геометрическая прогрессия для определения
				расстояний
			</h3>
			<p>
				Чем больше количество вариантов, тем сложнее сделать выбор. –
				Закон Хика
			</p>
			<ul>
				<li>
					Чтобы создать устойчивую систему, которая упрощает выбор,
					нужно использовать минимально необходимое количество
					вариантов.
				</li>
				<li>
					Все расстояния должны быть кратны базовому числу сетки,
					например, в моём случае, 8. Значит, я могу выбрать любые
					значения из этого ряда: 2, 4, 8, 12, 16, 20, 24, 28...
				</li>
				<li>
					Обычно 4–5 вариантов будет достаточно даже для сложных
					продуктов. Но если вам действительно нужно, то можно выбрать
					дополнительные значения.
				</li>
				<li>
					Я решила выбрать первые три значения, полученные с помощью
					геометрической прогрессии. Итак, я получила следующие цифры:
					2, 4, 8
				</li>
			</ul>
			<img src="https://placehold.co/588x396" alt="" />
			<h4>H4. Закон Хика</h4>
			<p>
				Чем больше количество вариантов, тем сложнее сделать выбор.
				Чтобы создать устойчивую систему, которая упрощает выбор, нужно
				использовать минимально необходимое количество вариантов.
			</p>
			<h5>H5. Закон Хика</h5>
			<p>
				Чем больше количество вариантов, тем сложнее сделать выбор.
				Чтобы создать устойчивую систему, которая упрощает выбор, нужно
				использовать минимально необходимое количество вариантов.
			</p>
		</article>
	</main>
</Layout>

<style>
	.bg-h1 {
		font-size: 53vw;
		margin: 0;
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;
        mix-blend-mode: color;
	}

	main {
		max-width: 1920px;
		margin: 0 auto;
	}
	article {
		max-width: calc(var(--1px) * 1200);
		margin: 0 auto;
		padding: 0 24px;
	}
</style>
