---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import StarTrekText from "../components/StarTrekText.astro";
import { Image } from "astro:assets";
import myImportedImage from "../images/customised_pattern.png";
---

<Layout>
	<main>
		<!--<svg
			width="128"
			height="128"
			viewBox="0 0 128 128"
			fill="none"
			xmlns="http://www.w3.org/2000/svg"
		>
			<path
				d="M11.2158 97.8293L83.5018 29.1888C84.0264 28.6978 84.8321 29.2454 84.6072 29.9063L73.1217 62.2909C72.9531 62.7631 73.309 63.2541 73.7963 63.2541L117.321 63.103C118.033 63.103 118.258 64.0473 117.64 64.3871L81.9654 83.3459C81.4221 83.6291 81.4782 84.4221 82.0215 84.6488L113.911 97.6782C114.605 97.9614 114.399 98.9811 113.649 98.9811L11.6842 99C11.0659 99 10.7661 98.2636 11.2158 97.8293Z"
				fill="#FC1447"></path>
		</svg> -->

		<StarTrekText as="h1" class="bg-h1">
			Primego
		</StarTrekText>

		<article>
			<h1>
				<StarTrekText as="h1">
					H1. <br />
					Вертикальные отступы
				</StarTrekText>
			</h1>
			<blockquote>
				<h5>H5. Закон Хика</h5>
				<h5>H5. Закон Хика</h5>
			</blockquote>
			<p>
				Если разобрать макет или страницу сайта по элементам
				и посмотреть на вертикальные отступы между ними, вырисовываются
				закономерности. Разных по высоте вертикальных отступов не так
				уж и много на отдельно взятом сайте. Например, на главной
				Яндекса их всего 4. На странице продукта Apple — 8.
			</p>
			<button>Label</button>
			<h2>H2. Как устроена система</h2>
			<p>
				Все элементы страницы группируются в блоки. Блоки выстраиваются
				по правилам, которые придумал дизайнер. Вертикальные отступы
				разделены по уровням. Первый уровень — самый невысокий отступ.
				Пример: Отступ вторго уровня(16px), ставлю между двумя кнопками
				или заголовком h3 и параграфом. Отступ шестого уровня(48px)
				отбивает два таких блока. И так далее.
			</p>
			<button>Label</button><button>+ Label</button>
			<h3>
				H3. Закон Хика и геометрическая прогрессия для определения
				расстояний
			</h3>
			<p>
				Чем больше количество вариантов, тем сложнее сделать выбор. –
				Закон Хика
			</p>
			<ul>
				<li>
					Чтобы создать устойчивую систему, которая упрощает выбор,
					нужно использовать минимально необходимое количество
					вариантов.
				</li>
				<li>
					Все расстояния должны быть кратны базовому числу сетки,
					например, в моём случае, 8. Значит, я могу выбрать любые
					значения из этого ряда: 2, 4, 8, 12, 16, 20, 24, 28...
				</li>
				<li>
					Обычно 4–5 вариантов будет достаточно даже для сложных
					продуктов. Но если вам действительно нужно, то можно выбрать
					дополнительные значения.
				</li>
				<li>
					Я решила выбрать первые три значения, полученные с помощью
					геометрической прогрессии. Итак, я получила следующие цифры:
					2, 4, 8
				</li>
			</ul>
			<img src="https://placehold.co/588x396" alt="" />
			<h4>H4. Закон Хика</h4>
			<p>
				Чем больше количество вариантов, тем сложнее сделать выбор.
				Чтобы создать устойчивую систему, которая упрощает выбор, нужно
				использовать минимально необходимое количество вариантов.
			</p>
			<h5>H5. Закон Хика</h5>
			<p>
				Чем больше количество вариантов, тем сложнее сделать выбор.
				Чтобы создать устойчивую систему, которая упрощает выбор, нужно
				использовать минимально необходимое количество вариантов.
			</p>
		</article>
		<!-- <ul role="list" class="link-card-grid">
			<Card
				href="https://docs.astro.build/"
				title="Documentation"
				body="Learn how Astro works and explore the official API docs."
			/>
		</ul> -->
		<!-- <svg
			width="859"
			height="610"
			viewBox="0 0 859 610"
			fill="none"
			xmlns="http://www.w3.org/2000/svg"
			xmlns:xlink="http://www.w3.org/1999/xlink"
		>
			<rect
				width="792.298"
				height="542.204"
				transform="matrix(-0.999354 0.035946 0.035946 0.999354 796.85 0.989746)"
				fill="url(#pattern0)"></rect>
			<path
				opacity="0.31"
				d="M771.353 225.989C774.117 224.078 777.069 222.457 780.164 221.15C790.362 217.118 795.954 209.053 798.261 198.98C800.964 187.173 791.718 179.326 782.294 181.383C771.834 183.73 761.613 187.04 751.764 191.27C750.61 191.754 749.706 192.125 748.964 192.375C750.037 198.061 751.449 203.553 751.933 209.238C752.105 209.323 752.299 209.357 752.49 209.335C755.047 209.069 756.29 205.303 757.411 202.529C757.706 201.771 758.235 201.127 758.922 200.692C759.608 200.257 760.417 200.052 761.228 200.109C763.092 200.109 763.721 201.722 764.027 203.101C765.117 207.94 765.278 213.069 761.736 216.739C760.374 218.178 759.094 219.694 757.904 221.279C758.959 223.701 760.437 225.916 762.269 227.82C764.544 230.505 766.932 233.094 769.353 235.642L769.256 235.465C767.319 231.715 767.884 228.303 771.353 225.989Z"
				fill="#DCFC14"></path>
			<path
				opacity="0.31"
				d="M127.3 401.202C149.891 402.815 170.869 400.396 193.46 397.17C210.404 395.557 224.927 387.589 241.87 385.073C251.35 383.662 258.612 388.702 261.855 384.363C256.797 383.46 242.088 365.564 239.853 361.08C233.544 348.419 229.138 343.612 229.138 339.104C230.978 333.257 218.069 340.717 203.683 343.943C177.42 349.806 155.636 354.733 129.325 360.371C115.91 363.311 102.302 365.287 88.6043 366.282C76.6068 367.024 67.9656 366.484 65.6016 371.524C72.3225 397.259 105.201 399.622 127.3 401.202Z"
				fill="#DCFC14"></path>
			<path
				opacity="0.31"
				d="M578.456 99.9613C578.722 79.4205 572.873 73.7752 566.216 69.7429C558.648 65.1541 552.129 62.2992 536.436 60.0168C530.385 59.1297 528.061 54.0006 524.463 49.7827C513.361 36.7744 511.312 37.4841 504.349 22.7821C502.735 19.3143 502.622 17.5965 499.225 18.0804C492.02 19.0965 484.339 21.1692 477.844 24.5967C474.133 26.5644 473.511 28.75 475.093 32.6614C478.788 41.8309 484.121 53.2022 498.088 61.8879C503.098 65.0008 505.906 70.6381 502.162 76.4043C498.838 81.5173 498.483 84.0658 495.554 90.0014C494.812 91.5015 494.61 91.8724 494.287 92.0499C501.379 93.2838 507.358 94.9773 511.312 98.8726C516.758 104.236 518.863 107.381 520.929 114.704C522.268 119.438 523.737 131.123 523.349 136.172C522.462 147.785 518.218 159.116 511.15 169.342C504.954 178.302 498.467 185.262 489.769 191.544C483.314 196.238 475.432 199.157 467.928 201.778C459.993 204.476 451.684 205.91 443.304 206.028C439.882 206.089 436.461 205.879 433.073 205.399C431.742 207.23 416.936 228.787 409.086 233.255C411.603 238.094 418.211 238.247 424.617 240.916C431.024 243.586 437.228 248.755 442.166 248.497C454.067 240.11 463.071 231.19 480.684 219.045C485.525 215.819 499.362 203.649 504.76 201.302C529.506 190.681 550.08 215.48 581.909 226.682C583.967 205.633 578.061 130.027 578.456 99.9613Z"
				fill="#DCFC14"></path>
			<path
				opacity="0.2"
				d="M799.674 430.76C798.794 427.961 797.697 420.276 786.498 413.566C786.468 414.137 786.296 414.691 785.999 415.179C785.702 415.668 785.289 416.075 784.796 416.364C780.39 422.735 774.347 424.671 759.05 423.784C698.634 420.268 670.895 412.493 587.727 425.873C550.387 431.865 532.33 438.268 489.293 450.123C472.826 454.672 435.131 461.559 419.64 463.301C397.855 465.72 371.23 468.946 341.046 466.019C302.802 462.309 262.041 451.204 226.541 458.462C225.363 458.462 188.523 464.172 175.71 462.494C154.434 459.696 137.725 460.656 119.054 458.962C104.418 457.537 89.9848 454.497 76.018 449.897C73.2338 449.377 70.5033 448.603 67.8609 447.583C48.497 439.937 39.4363 430.792 35.1762 423.582C32.2958 418.905 31.3276 414.961 31.489 412.808C31.4473 412.271 31.4473 411.732 31.489 411.195C26.8739 420.84 23.0576 431.066 22.5089 441.8C20.1933 487.035 112.979 510.754 125.348 519.093C137.789 511.149 146.124 501.737 163.067 499.318C172.321 497.995 211.477 502.487 239.038 503.528C273.127 504.826 310.733 505.85 326.047 509.27C339.053 512.173 351.487 525.73 364.081 530.028C374.425 533.569 399.114 530.286 423.343 527.06C449.888 523.52 475.868 519.73 481.814 517.254C499.564 509.875 507.318 485.608 541.229 480.664C551.855 479.116 619.928 473.156 641.817 471.616C685.507 468.551 721.484 467.769 764.794 461.131C777.905 459.131 790.024 456.841 798.593 451.357C808.517 445.034 802.715 440.454 799.674 430.76Z"
				fill="#1471FC"></path>
			<path
				opacity="0.31"
				d="M730.415 176.786C726.381 175.979 723.033 180.439 721.653 182.431C717.014 189.093 714.391 193.819 712.229 202.682C711.584 205.295 708.937 207.166 706.242 207.811C700.522 209.174 694.818 210.488 689.364 212.956C677.592 218.279 672.864 227.956 668.789 238.392C665.675 246.36 663.666 250.909 658.938 258.102C658.417 259.011 657.601 259.716 656.626 260.1C655.651 260.484 654.574 260.524 653.572 260.215C628.311 252.788 604.84 238.505 581.183 226.908C574.801 223.779 541.971 205.408 530.716 201.746C513.773 196.238 506.511 198.464 496.232 207.053C488.64 213.4 448.435 244.215 441.448 248.989C442.949 250.683 442.892 249.562 444.393 251.255C458.916 238.005 468.033 231.553 479.16 224.497C496.853 213.279 505.704 204.133 515.653 205.279C523.011 206.085 538.615 213.73 545.239 217.037C586.388 237.594 612.206 254.578 658.728 268.385C665.869 270.498 678.899 272.151 688.952 269.433C702.588 265.756 715.844 233.303 720.886 224.779C726.212 215.771 733.11 196.262 733.497 193.923C734.909 185.351 736.087 177.907 730.415 176.786Z"
				fill="#FC1447"></path>
			<path
				opacity="0.31"
				d="M783.456 406.331C783.827 390.315 780.156 387.234 778.938 387.339C775.646 387.637 767.214 382.815 759.695 378.621C740.533 367.935 739.685 366.072 725.001 354.628C712.431 344.83 702.942 333.475 690.711 323.378C681.537 318.16 672.541 329.555 665.166 336.612C665.166 336.612 649.683 353.499 644.019 357.661C630.618 367.5 620.04 376.21 593.076 390.936C571.622 402.621 540.172 409.735 510.166 419.904C485.09 428.396 462.563 435.171 439.165 436.034C400.509 437.453 367.155 432.808 335.083 420.009C314.55 411.831 299.381 407.154 283.89 398.388C276.622 394.345 269.591 389.892 262.832 385.048C261.156 385.217 259.555 385.827 258.192 386.815C252.666 386.774 247.607 384.395 241.935 385.081C224.991 387.5 210.468 395.565 193.525 397.178C170.933 400.404 149.956 402.823 127.364 401.21C105.265 399.597 72.387 397.267 65.666 371.516C61.0845 373.274 56.7506 375.619 52.7729 378.492C41.4127 386.799 34.5546 397.847 31.8517 411.485C29.883 414.646 34.7805 434.8 67.9332 447.09C84.3875 453.243 101.572 457.233 119.054 458.962C137.724 460.655 154.434 459.695 175.71 462.494C188.522 464.171 225.362 458.461 226.54 458.461C262.041 451.203 302.802 462.308 341.046 466.018C371.229 468.946 397.823 465.696 419.639 463.3C435.131 461.591 472.81 454.671 489.293 450.123C532.33 438.267 550.386 431.864 587.727 425.872C670.895 412.533 698.634 420.267 759.049 423.783C776.396 424.791 781.842 422.17 786.482 413.565C785.523 412.62 784.762 411.494 784.243 410.252C783.723 409.01 783.456 407.677 783.456 406.331Z"
				fill="#FEBBFF"></path>
			<path
				opacity="0.31"
				d="M792.929 339.862C792.122 336.741 789.072 336.217 786.2 335.604C781.94 334.693 780.189 330.636 782.27 326.636C784.132 323.226 784.81 319.295 784.199 315.458C783.174 308.111 780.06 300.893 782.295 293.224C782.807 291.278 783.078 289.276 783.101 287.264C783.303 281.296 781.964 279.538 776.147 277.683C774.63 277.199 772.976 276.941 772.233 275.207C769.91 269.747 767.659 264.36 770.62 258.328C771.628 256.296 772.371 254.134 773.637 252.215C774.904 250.295 775.017 248.045 774.67 245.658C774.089 241.626 771.12 238.956 769.329 235.634C766.908 233.085 764.488 230.497 762.245 227.811C760.413 225.907 758.935 223.692 757.88 221.271C755.008 225.013 752.426 228.972 749.061 232.432C741.267 240.424 734.675 249.618 728.6 259.094C724.138 266.046 719.725 273.046 714.722 279.635C708.691 287.689 701.995 295.223 694.705 302.16C691.01 305.668 687.105 308.16 684.079 312.458C681.462 316.171 679.505 320.307 678.294 324.684C682.328 322.096 686.475 320.975 690.695 323.378C702.927 333.475 712.415 344.83 724.985 354.629C739.67 366.072 740.517 367.935 759.679 378.621C767.199 382.815 775.63 387.637 778.922 387.339C779.107 387.335 779.29 387.376 779.455 387.46C779.263 386.872 779.115 386.271 779.011 385.662C778.688 382.202 778.018 378.782 777.615 375.331C776.97 369.887 778.535 365.895 783.9 363.169C788.25 360.935 791.708 357.285 793.703 352.822C795.559 348.556 794.05 344.072 792.929 339.862Z"
				fill="#1471FC"></path>
			<g opacity="0.31" filter="url(#filter0_d_164_98)">
				<path
					d="M21.3875 451.074C22.9367 456.123 25.1999 460.924 28.1084 465.333C36.7577 479.043 49.8929 488.116 63.2702 496.713C68.7243 500.205 74.8159 502.455 80.4638 505.584C98.3674 515.407 116.295 525.149 135.546 532.197C138.564 533.302 141.38 534.738 143.461 537.488C145.543 540.238 148.544 540.915 151.78 539.827C154.047 539.068 155.983 539.189 157.702 540.948C158.622 541.957 159.878 542.599 161.236 542.754C165.56 543.069 169.586 545.399 173.508 545.803C179.519 546.415 185.304 546.956 191.21 548.625C194.994 549.698 199.084 549.762 202.61 551.948C204.772 553.287 206.927 553.851 209.412 552.44C212.639 550.625 216.173 551.198 219.094 552.843C221.837 554.391 224.282 554.375 227.162 553.916C229.663 553.52 232.39 551.899 234.811 554.311C236.908 556.4 239.248 556.383 241.871 555.319C244.985 554.045 248.091 553.859 251.093 555.883C253.473 557.496 255.813 557.004 258.29 555.706C262.049 553.738 265.753 553.101 269.488 556.303C271.909 558.408 274.822 558.327 277.621 556.238C279.398 554.951 281.545 554.277 283.739 554.317C285.932 554.358 288.053 555.112 289.78 556.464C293.169 559.021 295.589 558.706 298.292 555.375C300.834 552.246 306.732 551.754 309.709 554.432C312.307 556.779 314.881 557.472 317.85 554.867C320.27 552.706 323.457 551.803 326.499 552.988C331.235 554.851 335.431 555.303 339.029 550.916C339.417 550.44 340.231 550.335 340.804 549.996C343.225 548.553 345.016 548.649 346.218 551.609C349.187 558.867 353.116 551.988 353.302 551.609C355.384 547.48 356.465 547.109 360.418 549.367C362.839 550.738 364.775 550.561 366.373 548.303C367.26 547.044 368.349 545.504 369.802 545.883C373.892 546.94 376.966 544.375 380.5 543.464C390.005 541.044 399.679 539.722 409.417 538.625C427.821 536.488 446.201 533.367 464.742 533.786C480.144 534.133 495.571 535.012 510.981 535.681C531.765 536.585 594.383 537.189 604.848 537.52C616.37 537.883 627.851 538.786 639.389 539.028C654.864 539.343 670.306 539.214 685.701 538.133C701.361 537.028 717.006 535.407 732.57 533.367C743.389 531.955 754.507 531.859 764.657 526.56C779.003 519.068 792.453 510.753 800.352 495.858C806.354 484.567 809.985 472.873 806.863 459.889C805.517 454.916 804.922 449.771 805.096 444.623V444.405C804.699 443.172 804.219 441.968 803.66 440.8C805.669 446.913 801.844 449.808 799.399 451.373C790.831 456.857 778.712 459.147 765.601 461.147C722.291 467.752 686.314 468.535 642.624 471.631C620.735 473.172 552.67 478.357 542.036 479.874C523.092 482.575 508.254 494.334 500.589 502.56C499.08 504.503 487.833 515.592 477.667 518.141C465.718 521.141 389.045 533.73 366.502 530.028C353.415 527.875 340.949 514.447 328.403 509.947C314.727 505.011 255.675 504.358 239.03 503.608C210.146 502.318 177.921 498.221 165.988 499.132C142.082 500.955 125.348 519.116 125.34 519.116C106.315 509.294 59.825 493.011 46.7543 480.817C41.0419 475.494 31.3196 467.744 27.8825 460.309C23.2836 450.365 23.2836 445.792 25.2603 429.396C21.2824 436.582 20.0306 444.96 21.7345 452.994C21.5973 452.349 21.4843 451.703 21.3875 451.074Z"
					fill="#6CFC14"></path>
			</g>
			<path
				opacity="0.31"
				d="M443.304 206.029C451.684 205.91 459.994 204.476 467.929 201.778C475.432 199.157 483.258 196.238 489.77 191.544C498.467 185.262 504.954 178.302 511.151 169.342C518.219 159.116 522.446 147.785 523.35 136.172C523.737 131.124 522.269 119.438 520.929 114.704C518.864 107.381 516.758 104.22 511.312 98.8728C510.782 98.3579 510.219 97.8783 509.626 97.4373C505.717 95.2321 501.51 93.6024 497.136 92.5985L495.716 92.3162C479.741 89.542 485.082 97.155 485.768 96.9454C484.025 113.881 479.66 130.688 468.082 150.463C448.912 183.189 437.656 202.545 433.501 202.133C433.295 202.782 433.025 203.409 432.694 204.004C433.033 204.504 433.38 205.004 433.743 205.488C436.913 205.903 440.108 206.084 443.304 206.029Z"
				fill="#7A14FC"></path>
			<path
				opacity="0.31"
				d="M747.762 192.092C747.001 192.367 746.168 192.366 745.407 192.091C744.647 191.815 744.007 191.282 743.599 190.584L742.162 188.826C740.872 184.35 737.491 181.786 733.804 179.568C735.111 182.729 734.272 188.004 733.32 193.81C732.932 196.149 726.058 215.666 720.709 224.666C715.666 233.198 702.41 265.651 688.774 269.328C678.721 272.038 665.659 270.425 658.55 268.28C621.807 257.384 597.99 244.505 569.355 229.448L571.671 230.666C567.516 236.311 562.884 241.19 557.148 244.618C533.75 257.521 511.158 273.046 486.752 287.361C477.07 293.813 460.32 286.554 442.578 295.425C424.827 305.103 397.516 318.466 381.38 328.95C353.947 345.08 339.102 361.758 319.132 354.298C309.249 351.677 284.439 369.193 258.62 381.887C256.732 380.398 254.952 378.901 253.279 377.395C260.936 384.274 270.706 390.92 283.656 398.251C299.147 407.025 314.316 411.702 334.849 419.88C366.953 432.663 400.308 437.324 438.931 435.905C462.329 435.05 484.848 428.275 509.932 419.775C539.938 409.606 571.388 402.501 592.842 390.815C619.806 376.121 631.998 367.379 645.399 357.54C651.047 353.378 655.581 347.056 660.681 342.217C664.715 338.338 670.363 332.322 676.462 328.733C677.075 327.324 677.67 325.902 678.245 324.467L678.076 324.563C679.294 320.193 681.257 316.066 683.877 312.361C686.903 308.063 690.808 305.571 694.503 302.063C701.813 295.129 708.527 287.594 714.577 279.538C719.547 272.941 723.993 265.949 728.454 258.997C734.53 249.521 741.122 240.327 748.916 232.327C752.199 228.964 754.733 225.117 757.525 221.456C752.958 213.165 752.046 201.81 747.762 192.092Z"
				fill="#14FCEE"></path>
			<path
				opacity="0.31"
				d="M273.627 326.168C279.509 329.572 286.448 332.854 290.982 341.322C292.168 343.532 303.827 336.895 303.593 334.362C302.988 327.814 304.093 320.451 305.102 309.362C309.136 314.2 322.497 313.233 325.475 323.072C326.588 323.878 335.358 322.047 338.989 317.733C337.48 307.862 340.869 299.281 336.964 290.821C347.743 295.442 359.361 293.603 362.694 307.047C364.929 305.168 373.683 304.224 377.435 299.732C373.586 293.603 378.322 281.643 372.069 267.022C382.558 270.046 392.143 286.377 400.494 291.216C400.8 290.627 410.902 285.119 413.218 281.74C413.218 281.74 401.809 257.594 396.782 251.199C400.938 256.489 424.037 261.417 429.257 263.498C431.145 264.248 438.326 266.828 438.366 266.724C439.343 264.885 447.129 257.675 447.185 257.659C447.814 253.489 441.9 248.651 442.167 248.497C437.229 248.755 428.951 241.521 423.004 240.11C411.935 237.481 409.087 234.941 407.473 229.908C405.948 225.126 400.074 220.569 394.773 221.255C389.618 221.916 386.366 227.408 384.704 232.174C384.075 233.989 384.938 246.005 384.978 250.562C384.978 251.465 385.107 252.546 384.115 253.078C382.905 253.731 382.074 252.82 381.275 252.159C378.701 250.022 375.014 245.997 372.4 243.941C365.138 238.295 357.748 243.134 355.658 250.546C354.851 253.28 355.997 258.844 357.473 262.385C358.603 265.111 355.65 267.917 353.536 269.441C351.422 270.966 350.728 273.385 347.687 270.869C345.974 268.655 343.665 266.976 341.03 266.03C334.777 263.538 328.928 263.917 324.619 273.038C323.194 276.14 322.373 279.485 322.199 282.893C321.981 285.813 322.199 288.805 321.19 291.643C319.891 295.41 318.366 294.531 315.3 292.039C306.611 285.006 298.655 285.087 294.25 299.144C291.749 307.136 290.781 305.249 282.519 305.345C276.823 305.41 271.627 305.249 267.665 312.273C266.318 314.692 263.26 315.12 260.129 315.128C252.868 314.321 248.955 318.862 245.76 325.314C244.622 327.612 244.146 330.152 242.887 332.451C242.887 348.395 253.763 352.935 256.2 353.33C257.096 353.008 264.058 349.943 264.567 349.096C263.857 336.927 272.627 338.701 273.627 326.168Z"
				fill="#1471FC"></path>
			<defs>
				<pattern
					id="pattern0"
					patternContentUnits="objectBoundingBox"
					width="1"
					height="1"
				>
					<use
						xlink:href="#image0_164_98"
						transform="matrix(0.00114823 0 0 0.00167785 -0.091337 0)"
					></use>
				</pattern>
				<filter
					id="filter0_d_164_98"
					x="-0.0078125"
					y="408.396"
					width="859.015"
					height="200.762"
					filterUnits="userSpaceOnUse"
					color-interpolation-filters="sRGB"
				>
					<feFlood flood-opacity="0" result="BackgroundImageFix"
					></feFlood>
					<feColorMatrix
						in="SourceAlpha"
						type="matrix"
						values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
						result="hardAlpha"></feColorMatrix>
					<feOffset dx="15" dy="15"></feOffset>
					<feGaussianBlur stdDeviation="18"></feGaussianBlur>
					<feComposite in2="hardAlpha" operator="out"></feComposite>
					<feColorMatrix
						type="matrix"
						values="0 0 0 0 0.424157 0 0 0 0 0.988235 0 0 0 0 0.0784314 0 0 0 1 0"
					></feColorMatrix>
					<feBlend
						mode="normal"
						in2="BackgroundImageFix"
						result="effect1_dropShadow_164_98"></feBlend>
					<feBlend
						mode="normal"
						in="SourceGraphic"
						in2="effect1_dropShadow_164_98"
						result="shape"></feBlend>
				</filter>
				<image
					id="image0_164_98"
					decoding="async"
					width="1030"
					height="596"
					href={myImportedImage.src}
				/>
			</defs>
		</svg>
		<Image 
			width="1030"
			height="596" 
			src={myImportedImage} 
			alt="descriptive text" /> -->
	</main>
</Layout>

<style>
	.bg-h1 {
		font-size: 53vw;
		margin: 0;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;
        mix-blend-mode: color;
	}

	main {
		max-width: 1920px;
		margin: 0 auto;
	}
	article {
		max-width: calc(1200px + 24px *2);
		margin: 0 auto;
		padding: 0 24px;
	}
</style>
