---
import Layout from "../layouts/Layout.astro";
import Header from "../components/layout/Header.astro";
import Section from "../components/ui/Section.astro";

import backgroundFooter from "/src/assets/img/bg/FC1447/10.jpg";
import LoginForm from "../components/islands/LoginForm.vue";
---

<Layout title="Login" backgroundImage={backgroundFooter}>
	<Header/>
	<main>
		<Section width="800">
			<h1 class="h3">Вход</h1>
			<LoginForm client:only />
		</Section>
	</main>
</Layout>

<script></script>

<style>
	.section {
		min-height: auto;
	}
</style>
