---
import Layout from "../layouts/Layout.astro";
import Header from "../components/layout/Header.astro";
import Section from "../components/ui/Section.astro";
import Button from "../components/ui/Button.astro";

import backgroundFooter from "/src/assets/img/bg/FC1447/10.jpg";
import ShopCart from "../components/islands/ShopCart.vue";
---

<Layout title="Primego | Корзина" backgroundImage={backgroundFooter}>
	<meta name="robots" content="noindex" slot="head">
	<Header/>
	<main>
		<Section width="985">
			<h1 class="h3">Корзина</h1>

			<!-- <Button 
				data-buybutton
				data-sku={sku}
				data-color={color} 
				data-img={img}
			>
				Оформить
			</Button> -->
			<ShopCart client:only />
		</Section>
	</main>
</Layout>

<script>
    import { addCartItem } from "../stores/shopCartStore";

    const buyButton = document.querySelector("[data-buybutton]");
    const {
        sku,
        color,
        img
    } = buyButton?.dataset;

    buyButton?.addEventListener("click", addToCart);

    function addToCart() {
        addCartItem({
            sku,
            img,
            color,
        });
    }
</script>

<style>
	.section {
		min-height: auto;
	}
</style>
