---
import "/src/assets/css/index.scss";
import env from '../utils/client'


const isProduction = env.MODE === "production";
const { title = "Primego" } = Astro.props;
const pageUrl = Astro.url;
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />
{!isProduction && 
    <meta name="robots" content="noindex">
}
<title>{title}</title>
<!-- ToDo заполнить-->
<meta name="description" content="" />
<meta property="og:url" content={pageUrl} />
<meta property="og:title" content={title} />
<meta property="og:description" content="" />
<meta property="og:image" content="" />
<meta property="og:type" content="website" />
<!-- <meta property="vk:image" content="" /> -->

<!-- Animation On Scroll -->
<style is:global>
    [data-animate] {
        opacity: 1;
        transform: none;
        transition:
            transform 1s,
            opacity 1s;

        &.will-animate {
            will-change: transform, opacity;
            transform: translateY(var(--60px));
            opacity: 0.5;
        }
    }
</style>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        initScrollAnimations();
    });

    function initScrollAnimations() {
        if (!"IntersectionObserver" in window) {
            return;
        }

        const observerElements = document.querySelectorAll("[data-animate]");
        const observerOptions = {
            root: null,
            rootMargin: "0px 0px",
            threshold: 0,
        };
        const observer = new IntersectionObserver(
            observerCallback,
            observerOptions,
        );

        [].forEach.call(observerElements, (element) =>
            observer.observe(element),
        );

        function observerCallback(entries) {
            entries?.forEach((entry) => {
                const animateEl = entry.target;

                if (entry.intersectionRatio > 0) {
                    animateEl?.classList.remove("will-animate");
                    observer.unobserve(entry.target);
                    return;
                }
                animateEl?.classList.add("will-animate");
            });
        }
    }
</script>
