---
import { getImage } from "astro:assets"
import Head from './Head.astro';
import { optimizedImagesMap } from '../utils/shopCartImages';
import { getLangFromUrl} from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);

const { backgroundImage, title } = Astro.props;

const optimizedBackgroundImage = backgroundImage
	? await getImage({ src: backgroundImage, quality: '95' })
	: {src:''};

const optimizedImages = await optimizedImagesMap();

---

<!doctype html>
<html lang={lang}>
	<head>
		<Head title={title} />
		<slot name="head" />
		<script type="application/json" data-shop-image-json={JSON.stringify(optimizedImages)}></script>
	</head>
	<body style={backgroundImage ? `background-image: url(${optimizedBackgroundImage?.src})` : ''}>
		<slot />
	</body>
</html>

<style>
html, body {
	min-height: 100%;
	height: 100%;
}
body {
	background-position: top center;
	background-size: cover;
}
</style>
