---
import { getImage } from "astro:assets"
import Head from './Head.astro';
const { backgroundImage } = Astro.props;

const optimizedBackgroundImage = backgroundImage 
	? await getImage({ src: backgroundImage, quality: '95' }) 
	: {src:''};
---

<!doctype html>
<html lang="ru">
	<head>
		<Head />
		<slot name="head" />
	</head>
	<body style={backgroundImage ? `background-image: url(${optimizedBackgroundImage?.src})` : ''}>
		<slot />
	</body>
</html>

<style>
html, body {
	min-height: 100%;
	height: 100%;
}
body {
	background-position: top center;
	background-size: cover;
}
</style>