---
import Button from './Button.astro';
import { getLangFromUrl, useTranslations } from '../../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const {
  as: Element = "button",
  href,
  class: className,
  ...props
} = Astro.props;
---

<Button as="a" aria-label={t("common.Назад")} href={href} class:list={["button", "button_type-icon", "button_back", className]} {...props}>
    <svg role="presentation" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M19 12H5" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M12 19L5 12L12 5" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
</Button>

<style lang="scss">
    .button_back {
        margin: var(--120px) 0 var(--30px);
        position: relative;
        z-index: 1;
    }
	@media screen and (max-width: 1023px) {
		.button_back {
            display: none;
        }
	}
</style>
<style is:global>
	.button_back + .page-title {
		margin-top: 0;
	}
</style>
