---
import { getImage } from "astro:assets";
import Button from "./Button.astro";
const { 
    sku,
    color = 'var(--color-product-primego)',
    img,
    class: className, 
    ...props
} = Astro.props;

const optimizedImg = img
  ? await getImage({
      src: img,
	  width: 300,
      quality: "80",
    })
  : { src: "" };
---

<Button
    data-buybutton
    data-sku={sku}
    data-color={color} 
    data-img={optimizedImg.src} 
    {...props}
>
    <Fragment>
        Заказать
    </Fragment>
</Button>
<button
    class="sr-only"
    type="button"
    onclick={`window["dialog-shopcart"]?.showModal()`}
>
    Открыть корзину
</button>

<script>
    import { addCartItem } from "../../stores/shopCartStore";

    const buyButton = document.querySelector("[data-buybutton]");
    const {
        sku,
        color,
        img
    } = buyButton?.dataset;

    buyButton?.addEventListener("click", addToCart);

    function addToCart() {
        addCartItem({
            sku,
            img,
            color,
        });
        window["dialog-shopcart"]?.showModal();
    }
</script>

<style lang="scss"></style>
