---
import Button from "./Button.astro";
import ProductPriceFromApi from "../content/ProductPriceFromApi.astro";
const { 
    sku,
    color = 'var(--color-product-primego)',
    img,
    class: className, 
    ...props
} = Astro.props;
---

<Button
    data-buybutton
    data-sku={sku}
    data-color={color} 
    data-img={img} 
    {...props}
>
    <Fragment>
        <span class="display-none display-mobile-block">
            Купить от <ProductPriceFromApi sku={sku}/>
        </span>
        <span class="display-mobile-none">
            Купить сейчас
        </span>
    </Fragment>
</Button>
<button
    class="sr-only"
    type="button"
    onclick={`window["dialog-shopcart"]?.showModal()`}
>
    Открыть корзину
</button>

<script>
    import { addCartItem } from "../../stores/shopCartStore";

    const buyButton = document.querySelector("[data-buybutton]");
    const {
        sku,
        color,
        img
    } = buyButton?.dataset;

    buyButton?.addEventListener("click", addToCart);

    function addToCart() {
        addCartItem({
            sku,
            img,
            color,
        });
    }
</script>

<style lang="scss"></style>
