---
const { 
  width = 1920,
  ...props
} = Astro.props;
---
<div class="container" {...props} >
	<slot />
</div>

<style define:vars={{ width }}>
	.container {
		width: calc(var(--adaptive-pixel) * var(--width));
		max-width: 100%;
		padding: 0.02px var(--gutter);
		margin: 0 auto;
	}
	@media screen and (width < 1024px) {
		.container {
		width: calc(var(--adaptive-pixel) * var(--container-width));
		}
	}
</style>

